{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block description %}
Créez un compte sur Regards de Guerre pour accéder à toutes les fonctionnalités du site : réservation d'expositions, gestion de vos informations et bien plus. Rejoignez-nous dès aujourd'hui !
{% endblock %}

{% block body %}
<!-- Form Security/RegistrationFormType - Contr RegisterContr -->

<div class="containH1">    
    <h1>BIENVENUE</h1>
</div>

<section class="secuLogin">   
        <div class="secuForm">
            <div class="blockSecuForm">
                {{ form_start(registrationForm) }}

                {{ form_errors(registrationForm) }} {# Affiche les erreurs du formulaire #}
            
            
                <h2 class="secuH2">Création de compte</h2>

                <div class="blockRegister">
                    <div>
                        <div class="label">{{ form_label(registrationForm.userName)}}</div>
                        <div class="input">{{ form_widget(registrationForm.userName) }}</div> 
                    </div>
                    <div>
                        <div class="label">{{ form_label(registrationForm.userFirstname)}}</div>
                        <div class="input">{{ form_widget(registrationForm.userFirstname) }}</div> 
                        
                        <div class="blockNotaBene"><sup>1 </sup> Ces informations sont facultatives mais seront nécessaires pour passer une commande.</div>
                    </div>

                    <div style="display: none;">
                        <div class="label">{{ form_label(registrationForm.userNickname)}}</div>
                        <div class="input">{{ form_widget(registrationForm.userNickname) }}</div>
                        
                        <div class="blockNotaBene"><sup>3 </sup> Cette information est facultative mais sera nécessaire pour commenter les articles du blog.</div>
                    </div>  
                </div>    

                <div class="blockRegister">
                    
                    
                    <div>
                        <div class="label">{{ form_label(registrationForm.userEmail)}}</div>
                        <div class="input">{{ form_widget(registrationForm.userEmail) }}</div> 
                    </div> 
                </div>

                <div class="blockRegister">
                    <div>
                        <div class="label">{{ form_label(registrationForm.password.first) }}</div>
                        <div class="input">{{ form_widget(registrationForm.password.first) }}</div>

                        <div class="label">{{ form_label(registrationForm.password.second) }}</div>
                        <div class="input">{{ form_widget(registrationForm.password.second) }}</div>

                        <div class="blockNotaBene"><sup>2 </sup>12 Caractères dont 1 majuscule, 1 chiffre, 1 caratère spécial.</div>
                    </div>
                </div>
                

                <div class="blockTermsAgree">
                    <div class="confidentialCheckbox">{{ form_widget(registrationForm.agreeTerms)}} J'accepte que mes données personnelles soient collectées et traitées conformément à <strong>la politique de confidentialité.</strong></div>
                </div>
            </div>            

            <div class="button">
                <button type="submit" class="btnSubmit">Créer mon compte</button>
            </div>
            {{ form_end(registrationForm) }}
        </div> 
</section>
{% endblock %}

