{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block description %}
    Cette page affiche l'historique des commandes passées par un utilisateur. 
    Vous y trouverez les détails de chaque commande, y compris les expositions réservées, les tickets achetés et le montant total de la commande. 
    Les administrateurs peuvent également exporter les informations relatives à chaque commande pour un suivi plus détaillé.
{% endblock %}

{% block body %}
<!-- OrderBOController -->

<h1>Back-Office</h1>

<section>
    <p class="noticeBO">
        L'icône <i class="fa-solid fa-envelope-open-text" title="{{ 'Envoi par mail de la facture au format PDF'}}"></i> vous permet d'exporter et d'envoyer la facture PDF directement sur l'email de l'utilisateur.
    </p>
    
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <h2 class="historyBOH2">
                Historique de commande de 
                {% if user.userFirstname %}
                    {{ user.userFirstname }}
                {% else %}
                    {{ user.userEmail|split('@')[0] }}
                {% endif %}
            </h2>
            
            
                {% if groupedOrders is empty %}
                    <p>Aucune commande trouvée.</p>
                {% else %}

                <div class="blockOrderContainer">
                    {% for groupedOrder in groupedOrders %}
                            <div class="blockOrder">
                                <p class="orderTitle">
                                    Commande N°{{ groupedOrder.order.id }} du {{ groupedOrder.order.orderDateCreationFr }}
                                    <a class="iconsEdit" href="{{ path('userInvoiceExportBO', {'orderId': groupedOrder.order.id}) }}"
                                    aria-label="{{ 'Envoi par mail de la facture de la commande N°' ~ groupedOrder.order.id }}"
                                    title="{{ 'Envoi par mail de la facture au format PDF pour la commande N°' ~ groupedOrder.order.id }}">
                                        <i class="fa-solid fa-envelope-open-text"></i>
                                    </a>
                                </p>
                            
                    
                                {% for exhibitionId, exhibitionData in groupedOrder.details %}
                                    <p>Exposition : {{ exhibitionData.exhibition }}</p>
                    
                                    {% for ticketId, ticketData in exhibitionData.tickets %}
                                        <p>Ticket : {{ ticketData.ticket }} x {{ ticketData.quantity }}</p>
                                    {% endfor %}

                            <p class="totalOrder">Total de la commande : {{ groupedOrder.total }} €</p>
                                
                            {% endfor %}     

                            {% if not loop.last %}
                                <hr class="lineMobileOrder">
                            {% endif %} 
                        </div>
                        
                    {% endfor %}
                </div>
                {% endif %}
            
        {% endif %}
    {% endif %}
</section>

{% endblock %}
