{% extends 'base.html.twig' %}

{% block title %}Suppression 
    {% if user.userFirstname %}
        {{ user.userFirstname }}    
    {% else %}
        {{ user.userEmail|split('@')[0] }}
    {% endif %}  
{% endblock %}


{% block description %}
    Cette page vous permet de supprimer un utilisateur de la plateforme.  
    Assurez-vous que cette action est bien intentionnelle, car une fois l'utilisateur supprimé, toutes ses données seront perdues de manière définitive.
    Vous pouvez confirmer la suppression en cliquant sur le bouton "Supprimer" ci-dessous.
{% endblock %}


{% block body %}

    <h1>Back-Office</h1>

    <section>       
            
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}
                <p class="marginTop textDelete">Etes vous sûr(e) de vouloir supprimer 
                    {% if user.userFirstname %}
                        {{ user.userFirstname }}                
                    {% else %}
                        {{ user.userEmail|split('@')[0] }}
                    {% endif %} 
                    ?
                </p>

                <div class="button">
                    <a class="btnSubmit" href="{{ path('userConfirmDeleteBO', {slug: user.slug}) }}">
                        Supprimer
                    </a>
                </div>
                
            {% endif %}
        {% endif %}
    </section>

{% endblock %}
