{% extends 'base.html.twig' %}

{% block title %}Suppression 
    {% if user.userFirstname %}
        {{ user.userFirstname }}
    {% elseif user.userNickname %}
        {{ user.userNickname }}
    {% else %}
        {{ user.userEmail|split('@')[0] }}
    {% endif %}  
{% endblock %}

{% block body %}

<h1>Back-Office</h1>

<section>
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <p class="marginTop textDelete">Etes vous sûr(e) de vouloir supprimer 
                {% if user.userFirstname %}
                    {{ user.userFirstname }}
                {% elseif user.userNickname %}
                    {{ user.userNickname }}
                {% else %}
                    {{ user.userEmail|split('@')[0] }}
                {% endif %} 
                ?
            </p>
            
            <form method="post" action="{{ path('userConfirmDeleteBO', {id: user.id}) }}">
                <div class="button">
                    <button class="btnSubmit" type="submit" name="submitConfirmDeleteUser">Supprimer</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
</section>

{% endblock %}
