{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}

<h1>Back-Office</h1>

<section>
    <h2>Modification de l'utilisateur</h2>
    
    {# Affichage du formulaire #}
    <form method="post" action="{{ path('userEdit', {id: user.id}) }}">
        {{ form_start(form) }}
    
        {% if root %}
            {{ form_row(form.roles) }}
            <button type="submit" name="submitRoles">Modifier le rôle</button>
        {% endif %}
    
        {% if admin %}
            {{ form_row(form.userNickname) }}
            {{ form_row(form.reasonNickname) }}
            <button type="submit" name="submitNickname">Modifier le pseudo</button>
        {% endif %}
    
        {{ form_end(form) }}  
    </form>
    

   
</section>

{% endblock %}
