{% extends 'base.html.twig' %}

{% block title %}Profil de  
    {% if user.userFirstname %}
        {{ user.userFirstname }}
    {% else %}
        {{ user.userEmail|split('@')[0] }}
    {% endif %}    
{% endblock %}


{% block description %}
    Cette page vous permet de consulter et de modifier les informations d'un utilisateur.  
    Vous pouvez mettre à jour le rôle, le pseudo ou d'autres informations associées à l'utilisateur.  
    Seuls les administrateurs peuvent effectuer des modifications.
{% endblock %}


{% block body %}

<h1>Back-Office</h1>
<!-- UserBOController -->

<section>
    
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}

            <h2>Modification de l'utilisateur
                {% if user.userFirstname %}
                    {{ user.userFirstname }}                
                {% else %}
                    {{ user.userEmail|split('@')[0] }}
                {% endif %}
            </h2>            

            <div class="listMbrs">              
                <p>Mail: {{ user.userEmail }} </p>
            

                <p> Rôle actuel :
                    {% if user.roles[0] == 'ROLE_USER' %}
                        Utilisateur
                    {% elseif user.roles[0] == 'ROLE_ADMIN' %}
                        Administrateur
                    {% endif %}
                </p>
            </div>

            {% if user.userName is not empty and user.userFirstname is not empty %}
                <div class="listMbrs">
                    <p>Nom : {{ user.userName }}</p>
                    <p>Prénom : {{ user.userFirstname }}</p>
                </div>
            {% endif %}

            
                {# Affichage du formulaire #}
                <form method="post" action="{{ path('userEditBO', {slug: user.slug}) }}">
                    {{ form_start(form) }}

                        {% if root %}
                            <p class="label">{{ form_label(form.roles) }}</p>
                            <p class="input">{{ form_widget(form.roles) }}</p>

                            <div class="button">   
                                <button type="submit" class="btnSubmit" name="submitRoles">Modifier le rôle</button>
                            </div>
                        {% endif %}                    

                    {{ form_end(form) }}

                </form>
            
        {% endif %}
    {% endif %}
</section>

{% endblock %}
