{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block description %}
    Cette page affiche l'historique des commandes passées par un utilisateur. 
    Vous y trouverez les détails de chaque commande, y compris les expositions réservées, les tickets achetés et le montant total de la commande. 
    Les administrateurs peuvent également exporter les informations relatives à chaque commande pour un suivi plus détaillé.
{% endblock %}

{% block body %}
<!-- OrderBOController -->

<h1>Back-Office</h1>

<section>
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <h2>
                Historique de réservation de 
                {% if user.userFirstname %}
                    {{ user.userFirstname }}
                {% else %}
                    {{ user.userEmail|split('@')[0] }}
                {% endif %}
            </h2>
            
            
                {% if groupedOrders is empty %}
                    <p>Aucune réservation trouvée.</p>
                {% else %}
                    {% for groupedOrder in groupedOrders %}
                    <div class="blockOrderUser">
                        <div class="infosOrder">
                            Commande N°{{ groupedOrder.order.id }} du {{ groupedOrder.order.orderDateCreationFr }} 
                            <a class="iconsEdit" href="{{ path('userOrderExportBO', {'orderId': groupedOrder.order.id}) }}">
                                <i class="fa-solid fa-file-export"></i>
                            </a>                           
                        </div>

                        <div class="infosOrder">
                            {% for exhibitionId, exhibitionData in groupedOrder.details %}
                                <p>Exposition : {{ exhibitionData.exhibition }}</p>
                                
                                {% for ticketId, ticketData in exhibitionData.tickets %}
                                    <p>Ticket : {{ ticketData.ticket }} x {{ ticketData.quantity }}</p>
                                {% endfor %}
                        </div>
                                <p>Total de la commande : {{ groupedOrder.total }} €</p>
                            {% endfor %}
                    </div>
                    {% endfor %}
                {% endif %}
            
        {% endif %}
    {% endif %}
</section>

{% endblock %}
