{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block description %}
    Cette page permet de gérer les utilisateurs du back-office.
    Vous pouvez consulter et modifier les informations des administrateurs, des utilisateurs, ainsi que des utilisateurs supprimés.
    Seuls les administrateurs ont la possibilité d'effectuer des modifications ou des suppressions d'utilisateurs.
{% endblock %}


{% block body %}
    <h1>Back-Office</h1>

    <section>
        <p>Cette page permet de gérer les utilisateurs du back-office.
            Vous pouvez consulter et modifier les informations des administrateurs, des utilisateurs, ainsi que des utilisateurs supprimés.</p>

        {% if app.user and is_granted('ROLE_ADMIN') %}
            <div class="filterUser">
                <label for="userFilter">Filtrer par :</label>
                <select id="userFilter" onchange="window.location.href = this.value;">
                    <option value="{{ path('userListBO') }}" {% if currentFilter is null %}selected{% endif %}>
                        Tout afficher
                    </option>
                    <option value="{{ path('userListBO', {'filter': 'administrators'}) }}" {% if currentFilter == 'administrators' %}selected{% endif %}>
                        Administrateurs
                    </option>
                    <option value="{{ path('userListBO', {'filter': 'users'}) }}" {% if currentFilter == 'users' %}selected{% endif %}>
                        Utilisateurs
                    </option>
                </select>
            </div>

            <div>
                {% if currentFilter is null %}
                    <h2>Administrateurs</h2>
                    <div class="adminUserList">
                        {% for member in users %}
                            {% if 'ROLE_ADMIN' in member.roles and 'ROLE_ROOT' not in member.roles and 'ROLE_DELETE' not in member.roles %}
                                <p>{{ member.userEmail }}</p>
                                <p>
                                    {% if is_granted('ROLE_ROOT') %}
                                        <a class="iconsEdit" href="{{ path('userEditBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Modifier l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Modifier les informations de l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>

                                        <a class="iconsEdit" href="{{ path('userDeleteBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <h2>Utilisateurs</h2>
                    <div class="adminUserList">
                        {% for member in users %}
                            {% if 'ROLE_USER' in member.roles and 'ROLE_ROOT' not in member.roles and 'ROLE_ADMIN' not in member.roles and 'ROLE_DELETE' not in member.roles %}
                                <p>{{ member.userEmail }}</p>
                                <p>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="iconsEdit" href="{{ path('userOrderBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Voir les commandes de l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Afficher l\'historique des commandes de l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-regular fa-folder-open"></i>
                                        </a>
                                        <a class="iconsEdit" href="{{ path('userEditBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Modifier l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Modifier les informations de l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                        <a class="iconsEdit" href="{{ path('userDeleteBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% elseif currentFilter == 'administrators' %}
                    {# Afficher uniquement les administrateurs (hors ROLE_ROOT) #}
                    <div class="adminUserList">
                        {% for member in users %}
                            {% if 'ROLE_ADMIN' in member.roles and 'ROLE_ROOT' not in member.roles and 'ROLE_DELETE' not in member.roles %}
                                <p>{{ member.userEmail }}</p>
                                <p>
                                    {% if is_granted('ROLE_ROOT') %}
                                        <a class="iconsEdit" href="{{ path('userEditBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Modifier l\'administrateur ' ~ member.userEmail }}"
                                        title="{{ 'Modifier les informations de l\'administrateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                        <a class="iconsEdit" href="{{ path('userDeleteBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Supprimer l\'administrateur ' ~ member.userEmail }}"
                                        title="{{ 'Supprimer l\'administrateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>

                {% elseif currentFilter == 'users' %}
                    {# Afficher uniquement les utilisateurs (hors ROLE_ROOT et ROLE_ADMIN et ROLE_DELETE) #}
                    <div class="adminUserList">
                        {% for member in users %}
                            {% if 'ROLE_USER' in member.roles and 'ROLE_ROOT' not in member.roles and 'ROLE_ADMIN' not in member.roles and 'ROLE_DELETE' not in member.roles %}
                                {{ member.userEmail }}
                                <p>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="iconsEdit" href="{{ path('userOrderBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Voir les commandes de l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Afficher l\'historique des commandes de l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-regular fa-folder-open"></i>
                                        </a>
                                        <a class="iconsEdit" href="{{ path('userEditBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Modifier l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Modifier les informations de l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                        <a class="iconsEdit" href="{{ path('userDeleteBO', {'slug': member.slug}) }}"
                                        aria-label="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}"
                                        title="{{ 'Supprimer l\'utilisateur ' ~ member.userEmail }}">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        {% elseif app.user %}
            <div class="adminUserList">
                {% for member in users %}
                    {% if 'ROLE_USER' in member.roles and 'ROLE_ROOT' not in member.roles and 'ROLE_ADMIN' not in member.roles and 'ROLE_DELETE' not in member.roles %}
                        {{ member.userEmail }}
                        <p>
                            <a class="iconsEdit" href="{{ path('userOrderBO', {'slug': member.slug}) }}"
                            aria-label="{{ 'Voir les commandes de l\'utilisateur ' ~ member.userEmail }}"
                            title="{{ 'Afficher l\'historique des commandes de l\'utilisateur ' ~ member.userEmail }}">
                                <i class="fa-regular fa-folder-open"></i>
                            </a>
                        </p>
                    {% endif %}
                {% else %}
                    <p>Aucun utilisateur trouvé.</p>
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endblock %}