{% extends 'base.html.twig' %}

{% block title %}Profil de  
    {% if user.userFirstname %}
        {{ user.userFirstname }}
    {% else %}
        {{ user.userEmail|split('@')[0] }}
    {% endif %}    
{% endblock %}


{% block description %}
    Cette page vous permet de consulter les informations d'un utilisateur (rôle, mail).  
    Seuls les administrateurs peuvent effectuer des modifications.
{% endblock %}


{% block body %}

<h1>Back-Office</h1>
<!-- UserBOController -->

<section>
    <div class="noticeBO">
        <p>Cette page permet de consulter les informations d'un utilisateur : rôle, mail, nom et prénom également, si renseignés.</p>
        {% if is_granted('ROLE_ROOT') %}   
            <p>Vous pouvez également modifier le rôle d'un utilisateur via le formulaire ci-dessous.</p>
        {% endif %}
    </div>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}

            <h2 class="userH2">Modification de l'utilisateur
                {% if user.userFirstname %}
                    {{ user.userFirstname }}                
                {% else %}
                    {{ user.userEmail|split('@')[0] }}
                {% endif %}
            </h2>            

            <div class="listMbrs">              
                <p>Mail: {{ user.userEmail }} </p>
            

                <p> Rôle actuel :
                    {% if 'ROLE_USER' in user.roles %}
                        Utilisateur
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                        Administrateur
                    {% endif %}
                </p>
            </div>

            {% if user.userName is not empty and user.userFirstname is not empty %}
                <div class="listMbrs">
                    <p>Nom : {{ user.userName }}</p>
                    <p>Prénom : {{ user.userFirstname }}</p>
                </div>
            {% endif %}

            
                {# Affichage du formulaire de role #}
                <form class="rootRoles" method="post" action="{{ path('userEditBO', {slug: user.slug}) }}">
                    {{ form_start(form) }}

                        {% if root %}
                            <p class="label">{{ form_label(form.roles) }}</p>
                            <p class="input inputRoles">{{ form_widget(form.roles) }}</p>

                            <div class="button btnRoles">   
                                <button type="submit" class="btnSubmit" name="submitRoles">Modifier le rôle</button>
                            </div>
                        {% endif %}                    

                    {{ form_end(form) }}

                </form>
            
        {% endif %}
    {% endif %}
</section>

{% endblock %}
