{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Création de compte</h1>

    {{ form_errors(registrationForm) }}  {# Affiche les erreurs du formulaire #}

    {{ form_start(registrationForm) }}

    <div>
        {{ form_row(registrationForm.userName) }}       
        {{ form_row(registrationForm.userFirstname) }}
        
        <p>* Ces informations sont facultatives mais seront nécessaires pour passer une commande.</p>
    </div>
        

    <div>
        {{ form_row(registrationForm.userNickname) }}

        {{ form_row(registrationForm.userEmail) }}

        {{ form_row(registrationForm.password) }}
    </div>

        <p>
            {{ form_widget(registrationForm.agreeTerms, { attr: { class: 'form-check-input' } }) }}
            J'accepte que mes données personnelles soient collectées et traitées conformément à <strong>la politique de confidentialité.</strong>
        </p>
            
        <button type="submit" class="btn submit">Créer mon compte</button>

    {{ form_end(registrationForm) }}

{% endblock %}

