{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Création de compte</h1>

    {{ form_errors(registrationForm) }}  {# Affiche les erreurs du formulaire #}

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.userNickname) }}

        {{ form_row(registrationForm.userEmail) }}

        {{ form_row(registrationForm.password) }}
        {# {{ form_row(registrationForm.passwordConfirm) }} #}

        <p>
            {{ form_widget(registrationForm.agreeTerms, { attr: { class: 'form-check-input' } }) }}
            J'accepte que mes données personnelles soient collectées et traitées conformément à <strong>la politique de confidentialité.</strong>
        </p>
            
        <button type="submit" class="btn submit">Créer mon compte</button>

    {{ form_end(registrationForm) }}

{% endblock %}

