{% extends 'base.html.twig' %}

{% block title %}Détail de l'exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Détail : <span class="longTitle">{{ exhibition }}</span></h1> 
</div>

<section>
   
<div class="blockArtistAvailable">
    <h4>Artistes inscrits</h4>

    {% for show in exhibition.shows %}
        <p>{{ show.artist.artistFirstname }} {{ show.artist.artistName }} 
            
        {# <p>Photo : {{ show.artistPhoto }}</p>
        <p>Description de la photo: {{ show.artistPhotoAlt }}</p> 
        <p>Parcours artistique: {{ show.artistTextArt }}</p> #}
        {# <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': show.artist.id, 'idExhibit': exhibition.id}) }}"> #}
            <i class="fa-solid fa-minus"></i>
        </a>
        </p>
    {% endfor %}

    <p><br></p>
    <p>+Formulaire avec infos de la table show</p>
    <p>Mise en relation avec room  </p>
</div>



<div class="blockArtistToAdded">
    <h4>Liste des artistes dispo</h4>
   
    {% for unPlannedArtist in unPlanned %}
        <div>{{ unPlannedArtist.artistFirstname }} {{ unPlannedArtist.artistName }}
            <a href="#"><i class="fa-solid fa-caret-down"></i></a>
        </div>

        <div class="formShowArtist">
            {{ form_start(forms[unPlannedArtist.id]) }}

                <div>
                    {{ form_label(forms[unPlannedArtist.id].room) }}
                    {{ form_widget(forms[unPlannedArtist.id].room) }}
                </div>

                <div>
                    {{ form_label(forms[unPlannedArtist.id].artistPhoto) }}
                    {{ form_widget(forms[unPlannedArtist.id].artistPhoto) }}
                </div>

                <div>
                    {{ form_label(forms[unPlannedArtist.id].artistPhotoAlt) }}
                    {{ form_widget(forms[unPlannedArtist.id].artistPhotoAlt) }}
                </div>

                <div>
                    {{ form_label(forms[unPlannedArtist.id].artistTextArt) }}
                    {{ form_widget(forms[unPlannedArtist.id].artistTextArt) }}
                </div>
                

                <button type="submit">Ajouter</button>

            {{ form_end(forms[unPlannedArtist.id]) }}
        </div>
    {# <a href="{{ path('addArtistToExhibitBO', {'idExhibit': exhibition.id, 'idArtist': unPlannedArtist.id}) }}">  #}
        <i class="fa-solid fa-plus"></i>
    </a>
    
{% endfor %}

</div>




</section>

{% endblock %}


