{% extends 'base.html.twig' %}

{% block title %}Détail de l'exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Détail : <span class="longTitle">{{ exhibition }}</span></h1> 
</div>

<section>
   
<div class="blockArtistAvailable">
    <h4>Artistes inscrits</h4>

    {% for show in exhibition.shows %}
        <p>{{ show.artist.artistFirstname }} {{ show.artist.artistName }}
        {# <p>Profession: {{ show.artist.artistJob }}</p>
        <p>Biographie: {{ show.artist.artistBio }}</p> #}
        {# <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': show.artist.id, 'idExhibit': exhibition.id}) }}"> #}
            <i class="fa-solid fa-minus"></i>
        </a>
        </p>
    {% endfor %}

    <p><br></p>
    <p>+Formulaire avec infos de la table show</p>
    <p>Mise en relation avec room  </p>
</div>



<div class="blockArtistToAdded">
    <h4>Liste des artistes dispo</h4>
    
</div>




</section>

{% endblock %}


