{% extends 'base.html.twig' %}

{% block title %}Détail de l'exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Détail : <span class="longTitle">{{ exhibition }}</span></h1> 
</div>

<section>
   
<div class="blockArtistAvailable">
    <h4>Artistes inscrits</h4>

    {% for show in exhibition.shows %}
        <p>{{ show.artist.artistFirstname }} {{ show.artist.artistName }}                       
            <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': show.artist.id, 'idExhibit': exhibition.id}) }}">
                <i class="fa-solid fa-minus"></i>
            </a>
        </p>
    {% endfor %}
</div>

<div class="blockArtistToAdded">
    <h4>Liste des artistes dispo</h4>
   
    {% if unPlanned is defined %}
        {% for unPlannedArtist in unPlanned %}
            <div>{{ unPlannedArtist.artistFirstname }} {{ unPlannedArtist.artistName }}
                <i class="fa-solid fa-caret-down toggle-form" data-artist-id="{{ unPlannedArtist.id }}"></i>
            </div>

            <div class="formShowArtist" id="form-{{ unPlannedArtist.id }}" style="display: none;">
                {{ form_start(forms[unPlannedArtist.id], {'action': path('addArtistToExhibitBO', {'idExhibit': exhibition.id, 'idArtist': unPlannedArtist.id})}) }}

                    <div>
                        {{ form_label(forms[unPlannedArtist.id].room) }}
                        {{ form_widget(forms[unPlannedArtist.id].room) }}
                    </div>

                    <div>
                        {{ form_label(forms[unPlannedArtist.id].artistPhoto) }}

                        {# {% if exhibition.mainImage is not empty %}
                            <img class="mainImgForm" src="{{ asset(exhibition.artistPhoto) }}" alt="{{ form.artistPhotoAlt.vars.value }}">
                    {% endif %} #}


                        {# {% if exhibition.mainImage is not empty %}
                            <img class="mainImgForm" src="{{ asset(exhibition.artistPhoto) }}" alt="{{ form.artistPhotoAlt.vars.value }}">
                    {% endif %} #}

                        {{ form_widget(forms[unPlannedArtist.id].artistPhoto) }}
                    </div>

                    <div>
                        {{ form_label(forms[unPlannedArtist.id].artistPhotoAlt) }}
                        {{ form_widget(forms[unPlannedArtist.id].artistPhotoAlt) }}
                    </div>

                    <div>
                        {{ form_label(forms[unPlannedArtist.id].artistTextArt) }}
                        {{ form_widget(forms[unPlannedArtist.id].artistTextArt) }}
                    </div>

                    <div>
                        <button type="submit">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                {{ form_end(forms[unPlannedArtist.id]) }}
            </div>
        {% endfor %}
    {% endif %}
</div>

</section>

{% endblock %}


