{% extends 'base.html.twig' %}

{% block title %}Expositions{% endblock %}

{% block description %}
    Cette page affiche la liste de toutes les expositions. 
    Vous pouvez ajouter, modifier, afficher ou supprimer une exposition existante.
{% endblock %}



{% block body %}
<div class="containH1">    
    <h1>Expositions</h1>
</div>

<section class="listExhibit">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
    
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}

            <div class="blockBtnAdd">
                <a class="btnAdd" href="{{ path('exhibitAddBO') }}">Ajouter une exposition</a>
            </div>

            {% for exhibition in exhibitions %}                
                <div class="blockListExhibit">  
                    <p>
                        {{ exhibition.dateExhibitFr }} - 

                        <a href="{{ path('exhibitEditBO', {'slug': exhibition.slug}) }}">
                            <i class="iconsEdit fa-solid fa-pencil"></i>
                        </a>

                        <a href="{{ path('exhibitShowBO', {'slug': exhibition.slug}) }}">
                            <i class="iconsEdit fa-solid fa-pen-to-square"></i>
                        </a>
                        
                        <a href="{{ path('deleteExhibitBO', {'slugExhibit': exhibition.slug}) }}">
                            <i class="iconsEdit fa-solid fa-trash-can"></i>
                        </a>
                    </p>
                    
                    <p>{{ exhibition.titleExhibit }}</p>
                </div>  
            {% endfor %}
            
        {% endif %}
    {% endif %}
</section>
{% endblock %}


