{% extends 'base.html.twig' %}

{% block title %}Expositions{% endblock %}

{% block description %}
    Cette page affiche la liste de toutes les expositions. 
    Vous pouvez ajouter, modifier, afficher ou supprimer une exposition existante.
{% endblock %}



{% block body %}
<!-- ExhibitionController -->

<div class="containH1">    
    <h1>Expositions</h1>
</div>

<section class="listExhibit">
    <p class="noticeBO">
        Cette page liste toutes les expositions à venir.
        Cliquez sur "Ajouter une exposition" pour en créer une nouvelle.
        Pour chaque exposition, vous pouvez modifier les informations générales via l'icône <i class="iconsEdit fa-solid fa-pencil"></i>, gérer les artistes participants (ajouter, modifier, supprimer) via l'icône <i class="iconsEdit fa-solid fa-pen-to-square"></i>, et supprimer l'exposition (si aucune commande n'est associée) via l'icône <i class="iconsEdit fa-solid fa-trash-can"></i>.
    </p>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}

            <div class="blockBtnAdd">
                <a class="btnAdd" href="{{ path('exhibitAddBO') }}">Ajouter une exposition</a>
            </div>

            {% for exhibition in exhibitions %}
                <div class="blockListExhibit">
                    <p>
                        {{ exhibition.dateExhibitFr }} -

                        <a href="{{ path('exhibitEditBO', {'slug': exhibition.slug}) }}"
                        aria-label="{{ 'Modifier l\'exposition ' ~ exhibition.titleExhibit }}"
                        title="{{ 'Modifier les informations de l\'exposition ' ~ exhibition.titleExhibit }}">
                            <i class="iconsEdit fa-solid fa-pencil"></i>
                        </a>

                        <a href="{{ path('exhibitShowBO', {'slug': exhibition.slug}) }}"
                        aria-label="{{ 'Gérer les artistes de l\'exposition ' ~ exhibition.titleExhibit }}"
                        title="{{ 'Ajouter, modifier ou supprimer les artistes de l\'exposition ' ~ exhibition.titleExhibit }}">
                            <i class="iconsEdit fa-solid fa-pen-to-square"></i>
                        </a>

                        {% if exhibition.orderDetails is empty %}
                            <a href="{{ path('deleteExhibitBO', {'slugExhibit': exhibition.slug}) }}"
                            aria-label="{{ 'Supprimer l\'exposition ' ~ exhibition.titleExhibit }}"
                            title="{{ 'Supprimer définitivement l\'exposition ' ~ exhibition.titleExhibit }}">
                                <i class="iconsEdit fa-solid fa-trash-can"></i>
                            </a>
                        {% endif %}
                    </p>

                    <p>{{ exhibition.titleExhibit }}</p>
                </div>
            {% endfor %}

        {% endif %}
    {% endif %}
</section>
{% endblock %}


