{% extends 'base.html.twig' %}

{% block title %}Détail de l'exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Détail : <span class="longTitle">{{ exhibition }}</span></h1> 
</div>

<section>
   
<div class="blockArtistAvailable">
    <h4>Artistes inscrits</h4>

    {% for show in exhibition.shows %}
        <p>{{ show.artist.artistFirstname }} {{ show.artist.artistName }} 
            <a href="#"><i class="fa-solid fa-caret-down"></i></a>
        {# <p>Photo : {{ show.artistPhoto }}</p>
        <p>Description de la photo: {{ show.artistPhotoAlt }}</p> 
        <p>Parcours artistique: {{ show.artistTextArt }}</p> #}
        {# <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': show.artist.id, 'idExhibit': exhibition.id}) }}"> #}
            <i class="fa-solid fa-minus"></i>
        </a>
        </p>
    {% endfor %}

    <p><br></p>
    <p>+Formulaire avec infos de la table show</p>
    <p>Mise en relation avec room  </p>
</div>



<div class="blockArtistToAdded">
    <h4>Liste des artistes dispo</h4>
   
    {% for unPlannedArtist in unPlanned %}
    <p>{{ unPlannedArtist.artistFirstname }} {{ unPlannedArtist.artistName }}
  
    {# <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': show.artist.id, 'idExhibit': exhibition.id}) }}"> #}
        <i class="fa-solid fa-minus"></i>
    </a>
    </p>
{% endfor %}

</div>




</section>

{% endblock %}


