{% extends 'base.html.twig' %}

{% block title %}Expositions{% endblock %}

{% block description %}
    Cette page affiche la liste de toutes les expositions. 
    Vous pouvez ajouter, modifier, afficher ou supprimer une exposition existante.
{% endblock %}



{% block body %}
<!-- ExhibitionController -->
   
<h1>Liste des expositions</h1>

<section class="listExhibit">
    <div class="noticeBO">
        <p>L'icône <i class="iconsEdit fa-solid fa-pencil" title="{{ 'Modifier les informations de l\'exposition'}}"></i>
             permet de modifier les informations d'une exposition.</p>
        <p>L'icône <i class="iconsEdit fa-solid fa-pen-to-square" title="{{ 'Ajouter, modifier ou supprimer les artistes d\'une exposition'}}"></i> 
             permet de modifier ou supprimer les artistes d'une exposition.
        </p>
        <p>L'icône <i class="iconsEdit fa-solid fa-trash-can" title="{{ 'Supprimer définitivement l\'exposition' }}"></i>
             permet de supprimer une exposition et les artistes associés. Une exposition peut être supprimée que si aucune commande n'a été effectuée.
        </p>        
    </div>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}

            <div class="blockBtnAdd">
                <a class="btnAdd" href="{{ path('exhibitAddBO') }}">Ajouter une exposition</a>
            </div>

            {% for exhibition in exhibitions %}
                <div class="blockListExhibit">
                    <p>
                        {{ exhibition.dateExhibitFr }} -

                        <a href="{{ path('exhibitEditBO', {'slug': exhibition.slug}) }}"
                        aria-label="{{ 'Modifier l\'exposition ' ~ exhibition.titleExhibit }}"
                        title="{{ 'Modifier les informations de l\'exposition ' ~ exhibition.titleExhibit }}">
                            <i class="iconsEdit fa-solid fa-pencil"></i>
                        </a>

                        <a href="{{ path('exhibitShowBO', {'slug': exhibition.slug}) }}"
                        aria-label="{{ 'Gérer les artistes de l\'exposition ' ~ exhibition.titleExhibit }}"
                        title="{{ 'Ajouter, modifier ou supprimer les artistes de l\'exposition ' ~ exhibition.titleExhibit }}">
                            <i class="iconsEdit fa-solid fa-pen-to-square"></i>
                        </a>

                        {% if exhibition.orderDetails is empty %}
                            <a href="{{ path('deleteExhibitBO', {'slugExhibit': exhibition.slug}) }}"
                            aria-label="{{ 'Supprimer l\'exposition ' ~ exhibition.titleExhibit }}"
                            title="{{ 'Supprimer définitivement l\'exposition ' ~ exhibition.titleExhibit }}">
                                <i class="iconsEdit fa-solid fa-trash-can"></i>
                            </a>
                        {% endif %}
                    </p>

                    <p>{{ exhibition.titleExhibit }}</p>
                </div>
            {% endfor %}

        {% endif %}
    {% endif %}
</section>
{% endblock %}


