{% extends 'base.html.twig' %}

{% block title %}Agenda Culturel{% endblock %}

{% block description %}
    Découvrez l'agenda culturel des expositions Regards de Guerre.
{% endblock %}

{% block body %}
    <div class="containH1">
        <h1>Agenda</h1>
    </div>

    <section class="sectionListAgenda">

        <div class="blockListAgendaContainer">
            {% for exhibition in exhibitions %}
                <div class="blockListAgenda">
                    <div class="imgExhibitListAgenda">
                        <img  src="{{ asset(exhibition.mainImage) }}" alt="{{ exhibition.mainImageAlt }}">
                    </div>

                    <div class="exhibitListAgenda">
                        <div class="blockDateListAgenda">
                                <p>
                                    <strong>{{ exhibition.dateExhibitFr }}</strong> - {{ exhibition.hourBeginFr }} à {{ exhibition.hourEndFr }}
                                </p>

                                {% if exhibition.ticketsRemaining <= 10 and exhibition.ticketsRemaining > 0 %}
                                    <img class="imgTicketStock" src="{{ asset('images/stocks/soon_out_of_stock_hor.png') }}" alt="Presque épuisé">
                                {% elseif exhibition.ticketsRemaining <= 0 %}
                                    <img class="imgTicketStock" src="{{ asset('images/stocks/out_of_stock_hor.png') }}" alt="Épuisé">
                                {% endif %}
                        </div>

                        <div class="blockTitle">
                            <p class="cgBold titleExhibitListAgenda">{{ exhibition.titleExhibit }}
                                <span class="cgBold">({{ exhibition.dateWarBeginFr }} -
                                    {% if exhibition.dateWarEndFr is null %}
                                        à aujourd'hui
                                    {% else %}
                                        {{ exhibition.dateWarEndFr }}
                                    {% endif %}
                                    )
                                </span>
                            </p>
                        </div>

                        <a class="parkinsanBrown" href="{{ path('exhibition', {'slug': exhibition.slug}) }}"> > Fiche détaillée</a>
                    </div>

                    
                </div>

                {% if not loop.last %}
                        <hr>
                    {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}