{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block javascripts %}
    {{ parent() }} {# appelle le bloc js de la base twig #}
    <script src="{{ asset('js/tickets.js') }}"></script>  
{% endblock %}

{% block body %}
<h1>Tickets</h1>

<h2>Expositions</h2>
{# {{ dump(priceByExhibit) }} #}

<select id="exhibitionSelect">
    {% for exhibition in exhibitions %}               
    <option value="{{ exhibition.id }}">{{ exhibition.dateExhibitFr }} - {{ exhibition.titleExhibit }}</option>
    {% endfor %}
</select> 

{% for exhibition in exhibitions %}
    <div id="exhibitionDetails-{{ exhibition.id }}" style="display: none;">

        {% for priceByExhibits in priceByExhibit %}
            {% if priceByExhibits.id == exhibition.id %} 

           <div>
                <p>Ticket {{ priceByExhibits.titleTicket }} 
                    {# Verification si le ticket est dans le panier  #}
                    {% if cart[priceByExhibits.ticketId] is defined %}
                        <span>({{ cart[priceByExhibits.ticketId].qty }})</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </p>

                <p>{{ priceByExhibits.standardPrice }} €</p>
            </div>
            <img class="ticketImg" src="{{ priceByExhibits.imageTicket }}" alt="{{ priceByExhibits.imageTicketAlt }}">

            <form method="POST" action="{{ path('addTicketToCart', {'exhibition': exhibition.id, 'ticket' : priceByExhibits.ticketId}) }}"> 

                <button type="submit" class="addDelTicket">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>

            <p>1</p>
            
            <form method="POST" action="{{ path('removeTicketToCart', {'exhibition': exhibition.id, 'ticket' : priceByExhibits.ticketId}) }}">

                <button type="submit" class="addDelTicket">
                <i class="fa-solid fa-minus"></i>
                </button>
            </form>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}





{% endblock %}

