{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<h1>Tickets</h1>

<h2>Expositions</h2>
    {{ dump(priceByExhibit) }}

    

    {% for exhibition in priceByExhibit %}
        {# {{ exhibition.dateExhibit }} #}
        {{ exhibition.titleExhibit }}
        {# {{ exhibition.dateExhibit }} #}
        
    {% endfor %}


    {% for priceByExhibits in priceByExhibit %}
        <p>{{ priceByExhibits.titleTicket}} </p>
        <img class="ticketImg" src="{{ priceByExhibits.imageTicket }}" alt="{{ priceByExhibits.imageTicketAlt}}">
        <p>{{ priceByExhibits.standardPrice }} €</p>
    {% endfor %}

{% endblock %}

