{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

 {% block javascripts %}
    {{ parent() }}  {# appelle le bloc js de la base twig #}
     <script src="{{ asset('js/tickets.js') }}"></script>   
{% endblock %} 



{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Tickets</h1>
</div>

<section>
    <h2>Expositions</h2>

    <select id="exhibitionSelect">
        {% for exhibition in exhibitions %}               
            <option value="{{ exhibition.id }}">
                {{ exhibition.dateExhibitFr }} - {{ exhibition.titleExhibit }}
            </option>           
        {% endfor %}
    </select> 

    {% for exhibition in exhibitions %}
        <div id="exhibitionDetails-{{ exhibition.id }}" class="blockTickets" style="display: none;">

            {% for priceByExhibits in priceByExhibit %}
                {% if priceByExhibits.id == exhibition.id %} 

           
                <p>Ticket {{ priceByExhibits.titleTicket }} dématérialisé
                    {# Verification si le ticket est dans le panier  #}
                    {% if cart[priceByExhibits.ticketId] is defined %}
                        <span>({{ cart[priceByExhibits.ticketId].qty }})</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </p>

                <div class="sectionBlockPrice">
                    <img class="ticketImg" src="{{ priceByExhibits.imageTicket }}" alt="{{ priceByExhibits.imageTicketAlt }}">

                    <div class="blockPrice">
                        <div>
                            {% if priceByExhibits.standardPrice == 0 %} 
                                <p>Gratuit</p>
                            {% else %}
                                <p>{{ priceByExhibits.standardPrice }} € <span class="miniText">(PU<sup>*</sup>)</span></p>
                            {% endif %}
                        </div>
                    
            
                        <div>
                            <a href="{{ path('removeTicketFromCart', {'exhibitionId': exhibition.id, 'ticketId' : priceByExhibits.ticketId, 'origin': 'ticket'}) }}">
                                <i class="fa-solid fa-minus"></i>
                            </a>

                            <span>1</span>

                            <a href="{{ path('addTicketToCart', {'exhibitionId': exhibition.id, 'ticketId' : priceByExhibits.ticketId, 'origin': 'ticket'}) }}">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <p class="miniText blockNotaBene"><sup>* </sup>PU : Prix unitaire</p>
</section>




{% endblock %}

