{% extends 'base.html.twig' %}

{% block title %}Hello ExhibitionController!{% endblock %}

{% block body %}
<h1>Exposition</h1>

<section> 
    {{ dump(showExhibit[0].exhibition.titleExhibit) }}
    {# <h2>{{ showExhibit.exhibition.titleExhibit}}  #}
        {# ({{ showExhibit.dateWarBeginFr }} - {{ showExhibit.dateWarEndFr }})</h2> #}

    <div>
        {# <p>{{ exhibition.dateExhibitFr }}</p> #}
        {# <p>{{ exhibition.hourBeginFr }} - {{ exhibition.hourEndFr }}</p> #}

    </div>

    {# <img class="imageExpo" src="{{ exhibition.mainImage }}" alt="{{ exhibition.mainImageAlt }}"> #}

    {# <p>{{ exhibition.descriptionExhibit }}</p> #}

    <p>Petit bouton qui va te faire acheter un ticket :) </p>
</section>

<section>
    <h2>Galerie des artistes</h2>

    <div>
        <p> 
            Regards de Guerre rassemble des artistes aux horizons variés, offrant, à travers un regard neuf, une exploration des conflits d'ici et d'ailleurs. 
        </p>

        <p>
            Chaque salle vous immerge dans leur univers unique, proposant une perspective inédite sur ces événements marquants.
        </p>
    </div>

    <div>
        <p>
            {# {{ artist.artistFirstname }} {{ artist.artistName }} -  #}
        </p>

        {# <p>( {{artist.artistBirthDateFr }} - {{artist.artistDeathDateFr }} )</p> #}

        
    </div>
</section>


{% endblock %}
