{% extends 'base.html.twig' %}

{% block title %}{{ exhibition.titleExhibit}}{% endblock %}

{% block description %}
Découvrez l'exposition "{{ exhibition.titleExhibit }}", un voyage à travers les œuvres d'art de divers artistes qui abordent les conflits à travers une perspective unique. 
Explorez les détails de l'exposition et artistes exposants.
{% endblock %}

{% block body %}
<!-- ExhibitionController -->

<h1>Exposition</h1>

<section>    
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    <h2 class="pageExhibitH2">{{ exhibition.titleExhibit}}  
        ({{ exhibition.dateWarBeginFr }} - {{ exhibition.dateWarEndFr }})</h2>

    <div class="dateHourPageExhibit">
        <p>{{ exhibition.dateExhibitFr }}</p>
        <p>{{ exhibition.hourBeginFr }} - {{ exhibition.hourEndFr }}</p>
    </div>

    <div class="blockImgExhibit">
        <img class="expoImg" src="{{ exhibition.mainImage }}" alt="{{ exhibition.mainImageAlt }}">
        {% if exhibition.ticketsRemaining <= 10 and exhibition.ticketsRemaining > 0 %}
            <img class="imgStockExhibit" src="{{ asset('images/stocks/soon_out_of_stock.png') }}" alt="Presque épuisé">
        {% elseif exhibition.ticketsRemaining <= 10 %}
            <img class="imgStockExhibit" src="{{ asset('images/stocks/out_of_stock.png') }}" alt="Epuisé">
        {% endif %}
    </div>

    <p>{{ exhibition.descriptionExhibit }}</p>

    {% if exhibition.ticketsRemaining > 0 %}
        <div class="btnSubmit">Ticket</div>
    {% endif %}
</section>


<section class="sectionIntroExhibit">
        <p class="cormorantGaramond"> 
            Regards de Guerre rassemble des artistes aux horizons variés, offrant, à travers un regard neuf, une exploration des conflits d'ici et d'ailleurs. 
        </p>

        <p class="cormorantGaramond">
            Chaque salle vous immerge dans leur univers unique, proposant une perspective inédite sur ces événements marquants.
        </p>
</section>

<section>
    <h2>Galerie des artistes</h2>

    <div>

        {% for show in exhibition.shows %}
        
        <div class="blockArtistPageExhibit">
            <div class="artistInfosPageExhibit">
                <p class="cormorantGaramond">{{ show.artist.artistFirstname }} {{ show.artist.artistName }} - {{ show.artist.artistJob }}</p>
                <p class="cormorantGaramond">({{ show.artist.artistBirthDateFr }} - {{ show.artist.artistDeathDateFr }})</p>
            </div>

            <img class="artistImgPageExhibit" src="{{ show.artistPhoto }}" alt="{{ show.artistPhotoAlt }}">
        </div>

        <div class="artistTextPageExhibit">
            <p>{{ show.artist.artistBio }} </p>
            <p>{{ show.artistTextArt }} </p>
        </div>
    
         <p class="artistRoomPageExhibit">Salle {{ show.room.titleRoom }}</p> 
    {% endfor %}

        
    </div>
</section>


{% endblock %}
