{% extends 'base.html.twig' %}

{% block title %}Agenda Culturel{% endblock %}

{% block description %}
    Découvrez l'ensemble des expositions et les artistes présents.
{% endblock %}

{% block body %}
    <h1>Expositions</h1>

    <section class="sectionListAgenda">

        <div class="blockListAgendaContainer">
            {% for exhibition in exhibitions %}
                <div class="blockListAgenda">
                    
                    {# <div class="imgExhibitListAgenda"> #}
                        <img  src="{{ asset(exhibition.mainImage) }}" alt="{{ exhibition.mainImageAlt }}">
                    {# </div> #}

                    <div class="exhibitListAgenda">
                        <div class="blockDateListAgenda">
                                <p><strong>{{ exhibition.dateExhibitFr }}</strong></p>
                                <p>{{ exhibition.hourBeginFr }} à {{ exhibition.hourEndFr }}</p>
                                <p>
                                    {% if exhibition.ticketsRemaining <= 10 and exhibition.ticketsRemaining > 0 %}
                                        <img class="imgTicketStock" src="{{ asset('images/stocks/soon_out_of_stock_hor.png') }}" alt="Presque épuisé">
                                    {% elseif exhibition.ticketsRemaining <= 0 %}
                                        <img class="imgTicketStock" src="{{ asset('images/stocks/out_of_stock_hor.png') }}" alt="Épuisé">
                                    {% endif %}
                                </p>
                        </div>

                        <div class="blockTitle">
                            <p class="cgBold titleExhibitListAgenda">{{ exhibition.titleExhibit }}
                                <span class="longTitleDate">({{ exhibition.dateWarBeginFr }} 
                                    {% if exhibition.dateWarEndFr is null %}
                                        à aujourd'hui
                                    {% else %}
                                        - {{ exhibition.dateWarEndFr }}
                                    {% endif %}
                                    )
                                </span>
                            </p>
                        </div>

                        {% if exhibition.ticketsRemaining > 0 %}
                            <a class="parkinsanBrown" href="{{ path('exhibition', {'slug': exhibition.slug}) }}"
                            title="{{ 'Voir la page détaillée de l\'exposition et commander des tickets'|trans }}">
                            > Tickets
                            </a>
                        {% else %}
                            <a class="parkinsanBrown" href="{{ path('exhibition', {'slug': exhibition.slug}) }}"
                            title="{{ 'Voir la page détaillée de l\'exposition'|trans }}">
                            > Fiche détaillée
                            </a>
                        {% endif %}                        
                    </div>
                </div>                
            {% endfor %}
        </div>
    </section>
{% endblock %}