{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block description %}
    Le back-office permet aux administrateurs de gérer les expositions, les artistes, les utilisateurs, la gestion des stocks et l'accès aux factures. 
{% endblock %}


{% block body %}

<h1>Back-Office</h1>

<section class="backOffice">
    {# <p class="noticeBO">Le back-office permet aux administrateurs de gérer les rubriques ci-dessous. </p> #}
    
    {% if app.user %}
        <ol>         
            {% if is_granted('ROLE_ADMIN') %}
                <li><a class="textHover" href="{{ path('artistListBO') }}">Artistes</a></li>
                <li><a class="textHover" href="{{ path('listInvoices') }}">Comptabilité</a></li>
                <li><a class="textHover" href="{{ path('exhibitListBO') }}">Expositions</a></li>                
                <li><a class="textHover" href="{{ path('stockManagement') }}">Gestion des stocks</a></li>
                <li><a class="textHover" href="{{ path('userListBO') }}">Utilisateurs</a></li>               
            {% endif %}
        </ol>
    {% endif %}
</section>

{% endblock %}

