{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}


{% block description %}
    Ajoutez, modifiez ou supprimez des artistes depuis cette page d'administration.
{% endblock %}


{% block body %}
<div class="containH1">    
    <h1>Artistes</h1>
</div>

<section>
    
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}

            <div class="blockBtnAdd">
                <a class="btnAdd" href="{{ path('artistAddBO') }}">Ajouter un artiste</a> 
            </div>

        
            {% for artist in artists %}
                <div class="blockListExhibit"> 
                    <p>
                        {{ artist.artistName }} {{ artist.artistFirstname }} 

                        <a href="{{ path('artistEditBO', {'id': artist.id}) }}">
                            <i class="iconsEdit fa-solid fa-pencil"></i>
                        </a>

                        <a href="{{ path('artistDeleteBO', {'id': artist.id}) }}">
                            <i class="iconsEdit fa-solid fa-trash-can"></i>
                        </a>
                    </p>
                </div>
            {% endfor %}

        {% endif %}
    {% endif %}
</section>
{% endblock %}


