{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}

{% block description %}
    Ajoutez, modifiez ou supprimez des artistes depuis cette page d'administration.
{% endblock %}

{% block body %}
   
<h1>Liste des artistes</h1>


<section>  
    <div class="noticeBO">
        <p>L'icône <i class="iconsEdit fa-solid fa-pencil" title="{{ 'Modifier les informations d\'un artiste'}}"></i>
             permet de modifier les informations d'un artiste.</p>        
        <p>L'icône <i class="iconsEdit fa-solid fa-trash-can" title="{{ 'Supprimer définitivement l\'artiste' }}"></i>
             permet de supprimer un artiste. 
        </p>        
    </div>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}
        <div class="headerArtists">

            <div class="blockBtnAdd">
                <a class="btnAdd" href="{{ path('artistAddBO') }}">Ajouter un artiste</a>
            </div>

            <div class="filterArtist">
                <label for="artistFilter">Filtrer par :</label>
                <select id="artistFilter" onchange="window.location.href = this.value;">
                    <option value="{{ path('artistListBO') }}" {% if currentFilter is null %}selected{% endif %}>
                        Tout afficher
                    </option>
                    <option value="{{ path('artistListBO', {'filter': 'artists'}) }}" {% if currentFilter == 'artists' %}selected{% endif %}>
                        Artistes
                    </option>
                    <option value="{{ path('artistListBO', {'filter': 'anonymized'}) }}" {% if currentFilter == 'anonymized' %}selected{% endif %}>
                        Artistes anonymisés
                    </option>
                </select>
            </div>

        </div>

        {% if artists is empty %}
        <p>Aucun artiste trouvé.</p>

        {% else %}
        <div class="blockListArtist">
            {% for artist in artists %}
                
                    <p>
                        {{ artist.artistName }} {{ artist.artistFirstname }}

                        {% if artist.anonymizeAt is not null %} (Sera anonymisé le {{ artist.anonymizeAt|date('d/m/Y') }})
                        {% endif %} 
                        
                        
                        {% if not artist.isIsAnonymized and artist.anonymizeAt is null %}
                        <a href="{{ path('artistEditBO', {'slug': artist.slug}) }}"
                            aria-label="{{ 'Modifier l\'artiste %firstname% %lastname%'|trans({'%firstname%': artist.artistFirstname, '%lastname%': artist.artistName}) }}"
                            title="{{ 'Modifier les informations de l\'artiste %firstname% %lastname%'|trans({'%firstname%': artist.artistFirstname, '%lastname%': artist.artistName}) }}">
                                <i class="iconsEdit fa-solid fa-pencil"></i>
                            </a>
                            
                            <a href="{{ path('artistDeleteBO', {'slug': artist.slug}) }}"
                                aria-label="{{ 'Supprimer l\'artiste %firstname% %lastname%'|trans({'%firstname%': artist.artistFirstname, '%lastname%': artist.artistName}) }}"
                                title="{{ 'Supprimer définitivement l\'artiste %firstname% %lastname%'|trans({'%firstname%': artist.artistFirstname, '%lastname%': artist.artistName}) }}">
                                    <i class="iconsEdit fa-solid fa-trash-can"></i>
                                </a>
                        {% endif %}
                    </p>
                
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}