{% extends 'base.html.twig' %}

{% block title %}Modification de l'artiste{% endblock %}

{% block body %}
<div class="containH1">    
    {% if isAdd %}
        <h1>Ajouter un artiste</h1>
    {% else %}
        <h1>Modification de {{ artist }}</h1>
    {% endif %}
</div>

<section> 
    
    {{ form_start(form) }}
        {{ form_row(form.artistName) }}
        {{ form_row(form.artistFirstname) }}
        {{ form_row(form.artistBirthDate) }}
        {{ form_row(form.artistDeathDate) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

</section>
{% endblock %}


