{% extends 'base.html.twig' %}

{% block title %}Modification de l'artiste{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Modification de l'artiste</h1>
</div>

<section class="listArtists">
    <p class="thArtists">Nom</p>
    <p class="thArtists">Prénom</p>
    <p></p>

    {{ form_start(form) }}
        {{ form_row(form.artistName) }}
        {{ form_row(form.artistFirstname) }}
        {{ form_row(form.artistBirthDate) }}
        {{ form_row(form.artistDeathDate) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</section>
{% endblock %}


