{% extends 'base.html.twig' %}

{% block title %}
    {% if isAdd %}
        Ajouter un artiste
    {% else %}
        Modification de {{ artist }}
    {% endif %}
{% endblock %}

{% block description %}
{{ isAdd ? 'Ajoutez un nouvel artiste à l\'exposition' : 'Modifiez les informations de l\'artiste ' ~ artist }}
{% endblock %}

{% block body %}
   
    {% if isAdd %}
        <h1>Ajouter un artiste</h1>
    {% else %}
        <h1>Modification de l'artiste : <span class="longTitle">{{ artist }}</span></h1>
    {% endif %}


    <section>    
        
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}

            <form method="post" action="{{ path('artistAddBO') }}">
            {{ form_start(form) }}

                <div class="blockMediaMini">
                    <div class="miniMedia">
                        <div class="label">{{ form_label(form.artistName) }}</div>
                        <div class="formErrors">                        
                            {{ form_errors(form.artistName) }} 
                        </div>
                        <div class="input">{{ form_widget(form.artistName) }}</div>
                    </div>

                    <div class="miniMedia">
                        <div class="label">{{ form_label(form.artistFirstname) }}</div>
                        <div class="formErrors">
                            {{ form_errors(form.artistFirstname) }} 
                        </div>
                        <div class="input">{{ form_widget(form.artistFirstname) }}</div>
                    </div>
                </div>
                
                
                        <div class="blockMini">
                            <div class="mini">
                                <div class="label">{{ form_label(form.artistBirthDate) }}</div>
                                <div class="formErrors"> 
                                    {{ form_errors(form.artistBirthDate) }} 
                                </div>
                                <div class="input">{{ form_widget(form.artistBirthDate) }}</div>
                            </div>

                            <div class="mini">
                                <div class="label">{{ form_label(form.artistDeathDate) }}</div>
                                <div class="formErrors"> 
                                    {{ form_errors(form.artistDeathDate) }} 
                                </div>
                                <div class="input">{{ form_widget(form.artistDeathDate) }}</div>
                            </div>
                        </div>

                        <div class="label">{{ form_label(form.artistJob) }}</div>
                        <div class="formErrors"> 
                            {{ form_errors(form.artistJob) }} 
                        </div>
                        <div class="input">{{ form_widget(form.artistJob) }}</div>

                        <div class="label">{{ form_label(form.artistBio) }}</div>
                        <div class="formErrors"> 
                            {{ form_errors(form.artistBio) }}
                        </div>
                        <div class="input">{{ form_widget(form.artistBio) }}</div>

                        {% if isAdd %}
                            <div class="button">
                                <button type="submit" class="btn btnSubmit">Créer l'artiste</button>
                            </div>
                        {% else %}
                            <div class="button">
                                <button type="submit" class="btn btnSubmit">Modifier</button>
                            </div>
                        {% endif %}

                    {{ form_end(form) }}
                </form>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}


