
{% block body %}



<section>
    <h1>Bonjour {{ user }},</h1>

    <p>Voici le récapitulatif de votre commande :</p>
    
    <div>
        {% for exhibitionId, exhibitionData in groupedCart %}
            <h3>Exposition : {{ exhibitionData.exhibition }}</h3>
                {% for ticketId, ticketData in exhibitionData.tickets %}
                    <p>Ticket : {{ ticketData.ticket }} X {{ ticketData.quantity }}</p>
                {% endfor %}
        {% endfor %}
        
        <p><strong>Total de la commande :</strong> {{ total }} €</p>

            <p>Vous trouverez votre facture ainsi que les billets dématérialisés en pièces jointes.</p>
            
            <p>Merci pour votre commande et à bientôt !</p>

            <p>Regards de guerre</p>
    </div>
</section>
{% endblock %}
