<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Accueil{% endblock %}</title>

        <link rel="icon" type="image/svg+xml" href="/images/favicon_rg.ico">
        <meta name="description" content="{% block description %}Regards de Guerre, une association dédiée à la mémoire des conflits, propose des tickets pour découvrir des expositions immersives sur le thème de la guerre, à travers l’art et l’histoire.{% endblock %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>      
        <header>
            <nav id="navbar">
                <div id="leftBlock">
                    <a class="logo" href="{{ path('home') }}"><img  src="/images/logo.webp" alt="Logo de l'association Regards de Guerre" title="Retour à la page d'accueil"></a>
                    

                    <div class="profile">
                        {% if app.user %}
                            <p>Bienvenue 
                                <a class="textHover" href="{{ path('index', {'slug': app.user.slug} ) }}">
                                    {% if app.user.userFirstname %}
                                        <strong>{{ app.user.userFirstname }}   </strong>                                 
                                    {% else %}
                                        <strong>{{ app.user.userEmail|split('@')[0] }}</strong>
                                    {% endif %}
                                    !
                                </a>
                            </p>

                            <p><a class="textHover" href="{{ path('logout') }}">Se déconnecter</a></p>
                        {% else %}
                            <p>                            
                                <a class="textHover" href="{{ path('register') }}">S'inscrire</a> /
                                <a class="textHover" href="{{ path('login') }}">Se connecter</a>
                            </p>
                        {% endif %} 
                    </div>
                </div> 

                

                <div id="rightBlock">
                    
                    <ol>
                        <li><a class="textHover" href="{{ path('home') }}">Accueil</a></li>

                        {# Apparait que si root ou admin #}
                        {% if app.user %}                            
                            <li><a class="textHover" href="{{ path('index', {'slug': app.user.slug} ) }}">Mon profil</a></li>
                        {% endif %}                        
                        <li><a class="textHover" href="{{ path('listExhibitions') }}">Expositions</a></li>
                        <li>
                            <a class="textHover" href="{{ path('cart') }}">Panier 
                    
                                {# Affiche le compteur seulement s'il y a un produit #}
                                {% if productCounter() > 0 %}
                                    ({{ productCounter() }})
                                {% endif %} 
                            </a>
                        </li>
                        {% if app.user %}
                            {% if 'ROLE_ROOT' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}  
                                <hr class="burgerBO">   

                                <li class="burgerBO">                                
                                    <a class="textHover" href="{{ path('backOffice') }}">Back-Office</a></li>
                            {% endif %}
                        {% endif %}
                    </ol>
                    
                    {% if app.user %}
                        {% if 'ROLE_ROOT' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                            <div class="desktopBO">
                                <a class="textHover" href="{{ path('backOffice') }}">Back-Office</a>
                            </div>
                        {% endif %}
                    {% endif %}   
                
                    <div class="burgerButton">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>            

            <div> {# Msg flash #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="lineNav"></div> 
        
        </header>
        {% block body %}  {% endblock %}

        <footer>

            <div class="blockFooter">

                <div class="blockContact">
                    <div class="titleContact">Nous contacter</div>
                    <div class="footerIcon">
                        <a href="mailto:regardsguerre@gmail.com?subject=Demande d'informations&body=Votre message ici"
                           aria-label="Envoyer un email à Regards de Guerre"
                           title="Envoyer un email à regardsguerre@gmail.com">
                            <i class="iconNetworks fa-solid fa-square-envelope"></i>
                        </a>
                    </div>
                </div>


                <div class="blockNetworks">
                    <div class="titleContact">Nous suivre</div>
                
                    <div class="footerIcon">
                        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Notre page Facebook" title="Suivez-nous sur Facebook (nouvelle fenêtre)">
                            <i class="iconNetworks fa-brands fa-square-facebook"></i>
                        </a>
            
                        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Visitez notre page Instagram" title="Suivez-nous sur Instagram (nouvelle fenêtre)">
                            <i class="iconNetworks fa-brands fa-square-instagram"></i>
                        </a>
            
                        <a href="https://www.x.com" target="_blank" rel="noopener noreferrer" aria-label="Visitez notre page X" title="Suivez-nous sur X (nouvelle fenêtre)">
                            <i class="iconNetworks fa-brands fa-square-x-twitter"></i>
                        </a>
                    </div>
                </div>
            

                <div class="texts">
                    <p><a class="textHover" href="{{ path('privacyPolicy') }}">Politique de confidentialité</a></p>
                    <p><a class="textHover" href="{{ path('legalNotices') }}">Mentions légales</a></p>        
                </div>

                <div class="texts">
                    <p><a class="textHover" href="{{ path('about') }}">A propos</a></p>
                    <p><a class="textHover" href="{{ path('services') }}">Boutique et restauration</a></p>        
                </div>
            </div>

            <div class="copyright">
                <p>Association loi 1901 - Tous droits réservés.</p>
                <p>Copyright 2025 Regards de Guerre</p>
            </div>
            
        </footer>
    </body>
</html>
