<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>      
        <header>
            <nav id="navbar">
                <div id="leftBlock">
                    <img class="logo" src="/images/logo.svg" alt="Logo de l'association Regards de Guerre">
                    <div class="profile">
                        {% if app.user %}
                            <p>Bienvenue <a href="#">{{ app.user.userNickname }} !</a></p>
                            <p><a href="{{ path('logout') }}">Se déconnecter</a></p>
                        {% else %}
                            <p>                            
                                <a href="{{ path('register') }}">S'inscrire</a> /
                                <a href="{{ path('login') }}">Se connecter</a>
                            </p>
                        {% endif %} 
                    </div>
                </div> 

                <div id="rightBlock">
                    
                    <ol>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="{{ path('ticket') }}">Tickets</a></li>
                        <li>
                            <a href="{{ path('cart') }}">Panier 
                                {# Affiche le compteur seulement s'il y a un produit #}
                                {% if productCounter() > 0 %}
                                    ({{ productCounter() }})
                                {% endif %} 
                            </a>
                        </li>
                    </ol>

                    <div class="burgerButton">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>

            <div id="boldLine"></div>
        </header>
                   
        
        {% block body %}{% endblock %}

        <footer>
            <div>
                <p>Soyez les premiers au courant des nouvelles expositions.</p>
                <p>Ici, un super input pour mettre le mail.</p>
                <p>Ici un super bouton pour s'abonner</p>
            </div>

            <div>
                <p>Nous suivre :</p>

                <p><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Notre page Facebook"><i class="fa-brands fa-facebook"></i></a></p>

                <p><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" 
                    aria-label="Visitez notre page Instagram"><i class="fa-brands fa-square-instagram"></i></a></p>

                <p><a href="https://x.com" target="_blank" rel="noopener noreferrer" aria-label="Visitez notre page X"><i class="fa-brands fa-square-x-twitter"></i></a></p>
            </div>

            <div>
                <a href="mailto:regardsguerre@gmail.com?subject=Demande d'informations&body=Votre message ici" aria-label="Envoyer un email a Regards de Guerre">Nous contacter</a>
                <a href="#">Mentions légales</a>
                <a href="#">Politique de confidentialité</a>
            </div>

            <div>
                <p>Association loi 1901. Tous droits réservés.</p>
                <p>Copyright 2025 Regards de Guerre</p>
            </div>
        </footer>
    </body>
</html>
