<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Accueil{% endblock %}</title>

        <link rel="icon" type="image/svg+xml" href="/images/favicon_rg.ico">
        <meta name="description" content="{% block description %}Regards de Guerre, une association dédiée à la mémoire des conflits, propose des tickets pour découvrir des expositions immersives sur le thème de la guerre, à travers l’art et l’histoire.{% endblock %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>      
        <header>
            <nav id="navbar">
                <div id="leftBlock">
                    <img class="logo" src="/images/logo.svg" alt="Logo de l'association Regards de Guerre">
                    <div class="profile">
                        {% if app.user %}
                            <p>Bienvenue 
                                <a href="{{ path('index', {'slug': app.user.slug} ) }}">
                                    {% if app.user.userFirstname %}
                                        {{ app.user.userFirstname }}
                                    {% elseif app.user.userNickname %}
                                        {{ app.user.userNickname }}
                                    {% else %}
                                        {{ app.user.userEmail|split('@')[0] }}
                                    {% endif %}
                                    !
                                </a>
                            </p>

                            <p><a href="{{ path('logout') }}">Se déconnecter</a></p>
                        {% else %}
                            <p>                            
                                <a href="{{ path('register') }}">S'inscrire</a> /
                                <a href="{{ path('login') }}">Se connecter</a>
                            </p>
                        {% endif %} 
                    </div>
                </div> 

                

                <div id="rightBlock">
                    
                    <ol>
                        <li><a href="{{ path('home') }}">Accueil</a></li>

                        {# Apparait que si root ou admin #}
                        {% if app.user %}
                            {% if 'ROLE_ROOT' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                <li><a href="{{ path('backOffice') }}">Back-Office</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{{ path('ticket') }}">Tickets</a></li>
                        <li>
                            <a href="{{ path('cart') }}">Panier 
                    
                                {# Affiche le compteur seulement s'il y a un produit #}
                                {% if productCounter() > 0 %}
                                    ({{ productCounter() }})
                                {% endif %} 
                            </a>
                        </li>
                    </ol>

                    <div class="burgerButton">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </nav>            

            <div class="containH1">   
                <h1></h1>   
            </div>
        </header>

        <div> {# Msg flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        
        {% block body %}  {% endblock %}

        <footer>

            <div class="blockFooter contactNetworks">

                <div class="blockContact">
                    <div class="titleContact">Nous contacter</div>                    
                    <div class="footerIcon">
                        <a href="mailto:regardsguerre@gmail.com?subject=Demande d'informations&body=Votre message ici" aria-label="Envoyer un email a Regards de Guerre"><i class="iconNetworks fa-solid fa-square-envelope"></i></a>
                    </div>
                </div>


                <div class="blockNetworks">
                    <div class="titleContact">Nous suivre</div>

                    <div class="footerIcon">
                        <div>
                            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Notre page Facebook"><i class="iconNetworks fa-brands fa-square-facebook"></i></a>
                        </div>

                        <div>
                            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Visitez notre page Instagram"><i class="iconNetworks fa-brands fa-square-instagram"></i></a>
                        </div>

                        <div>
                            <a href="https://www.x.com" target="_blank" rel="noopener noreferrer" aria-label="Visitez notre page X"><i class="iconNetworks fa-brands fa-square-x-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blockFooter legalTexts">
                <p><a href="{{ path('privacyPolicy') }}">Politique de confidentialité</a></p>
                <p><a href="{{ path('legalNotices') }}">Mentions légales</a></p>        
            </div>

            <div class="blockFooter legalTexts">
                <p><a href="{{ path('about') }}">A propos</a></p>
                <p><a href="{{ path('services') }}">Boutique et restauration</a></p>        
            </div>

            <div class="copyright">
                <p>Association loi 1901 - Tous droits réservés.</p>
                <p>Copyright 2025 Regards de Guerre</p>
            </div>
            
        </footer>
    </body>
</html>
