{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}
Plongez dans l’univers de Regards de Guerre : découvrez l’agenda des expositions, détendez-vous au café, 
explorez la boutique sur place et localisez-nous facilement grâce à notre carte interactive !
{% endblock %}

{% block body %}  
<!-- HomeController ExhibitionShareRepository -->
<div class="containH1"> 
    <h1>Accueil</h1>  
</div> 
     

<section>
    
    {% for exhibition in exhibitions %}    
        <div class="blockCarrousel">
            <a href="{{ path('exhibition', {'slug':exhibition.slug}) }}">
                <div class="imgContainHome">
                    <img class="carrouselImg" src="{{ asset(exhibition.mainImage) }}" alt="{{ exhibition.mainImageAlt }}">
                    <div class="filterImg"></div>
                </div>

                <div class="carrouselBlockText">
                    <div class="blockRight">
                        <h2 class="carrouselH2">
                            <span>{{ exhibition }}</span>
                            <span class="spaceCarrousel dateWarCarrousel">
                                {{ exhibition.dateWarBeginFr }} 

                                {% if exhibition.dateWarEndFr is not null %}    
                                        - {{ exhibition.dateWarEndFr }}
                                    {% else %}à aujourd'hui
                                {% endif %}
                            </span>
                        </h2>                    

                        <div class="carrouselDate">
                            <span><strong>{{ exhibition.dateExhibitFr }}</strong></span>
                            <span><strong>{{ exhibition.hourBeginFr }} à {{ exhibition.hourEndFr }}</strong></span>
                        </div>
                    </div>

                    <div class="carrouselText">{{ exhibition.descriptionExhibit }}</div>

                    <button type="submit" class="btnCTA">Ticket</button>
                </div>
            </a>
        </div>
    {% endfor %}
</section>   
    
    <div class="introHomeContainer">
        <div class="introHome cormorantGaramond">
            Explorez les conflits d'hier et d'aujourd'hui grâce à nos expositions éphémères. Plongez au cœur des guerres qui ont marqué notre histoire et façonné le monde. Chaque exposition offre une nouvelle perspective pour comprendre les enjeux d'ici et d'ailleurs.
        </div>
    </div>

        
    <section class="sectionAgenda">
        <h2>Agenda culturel</h2>

        <div class="blockAgendaContainer">
            {% for agendas in agenda %}
                <div class="blockAgenda">
                    <div class="exhibitAgenda">
                        <div class="blockDateAgenda">
                            <p><strong>{{ agendas.dateExhibitFr }}</strong> - {{ agendas.hourBeginFr }} à {{ agendas.hourEndFr }}</p>
                        </div>

                        <div class="blockImgStockHome">
                            {% if agendas.ticketsRemaining <= 10 and agendas.ticketsRemaining > 0 %}
                                <img class="imgStockHome" src="{{ asset('images/stocks/soon_out_of_stock_hor.png') }}" alt="Presque épuisé">
                            {% elseif agendas.ticketsRemaining <= 10 %}
                                <img class="imgStockHome" src="{{ asset('images/stocks/out_of_stock_hor.png') }}" alt="Epuisé">
                            {% endif %}
                        </div>

                        <div class="blockTextAgenda">
                            <p class="cgBold">{{ agendas.titleExhibit }}</p>
                            <p class="cgBold">{{ agendas.subTitleExhibit }} ({{ agendas.dateWarBeginFr }} - 
                                {% if agendas.dateWarEndFr is null %}
                                    à aujourd'hui
                                {% else %}
                                    {{ agendas.dateWarEndFr }} 
                                {% endif %}
                                )
                            </p>                 
                        
                            <p class="hookAgenda">{{ agendas.hookExhibit }}</p>
                        </div>
                        
                        <a class="parkinsanBrown" href="{{ path('exhibition', {'slug': agendas.slug}) }}"> > Fiche détaillée</a>
                    </div>

                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                   
                </div>
            {% endfor %}
        </div>
    </section>
    

    <section class="sectionVisit">

        
        <h2>Planifiez votre visite</h2>

        <div class="blockVisitContainer">

            <p>Rue de la paix - 75000 PARIS</p>

            <div class="disabledBlock">
                <i class="fa-brands fa-accessible-icon"></i>
                <p>
                    Nos locaux sont complétement accessibles pour les personnes en situation de handicap.
                </p>
            </div>

            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.403675585383!2d2.3289647418414194!3d48.869580671453065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e3101dcc2bb%3A0x2bc3eaa1f0003cb9!2sRue%20de%20la%20Paix%2C%2075002%20Paris!5e0!3m2!1sfr!2sfr!4v1738936240340!5m2!1sfr!2sfr" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

            <div class="blockPath">
                <div class="visitCar">
                    <h4>Par l'autoroute</h4>

                    <div>
                        <p>- Via A1 : Bd Malesherbes Direction Rue Daunou</p>
                        <p>- Via A81 : Voie G Pompidou et Quai des Tuileries en direction de Rue de la Paix</p>
                        <p>- Via A7 : Quai de Berçy en direction de l'Avenue de l'Opéra</p>
                        <p>- Via A4 :  Quai de Berçy en direction de l'Avenue de l'Opéra</p>
                    </div>
                </div>
                
                <div class="visitTrain">
                    <h4>Par les transports en commun</h4>

                    <div class="metroPath">
                        <div>- Gare du Nord :
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro7.png" alt="Icone du metro 7">
                        </div>

                        <div>- Gare de l'est :
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro7.png" alt="Icone du metro 7">
                        </div>

                        <div>- Gare Montparnasse :
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro12.png" alt="Icone du metro 12">
                                ou
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro13.png" alt="Icone du metro 13"> 
                        </div> 

                        <div>- Gare Saint Lazare :
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                            <img class="iconMetro" src="/images/accueil/logos_metro/metro3.png" alt="Icone du metro 3">
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>



{% endblock %}

