{% extends 'base.html.twig' %}

{% block title %}Hello ! {% endblock %}



{% block body %}  

<section>
    
    {% for exhibition in exhibitions %}    
        <div>
            <a href="{{ path('exhibition', {'id':exhibition.id}) }}">
                <img class="carrouselImg" src="{{ exhibition.mainImage }}" alt="{{ exhibition.mainImageAlt }}">
                <h2>{{ exhibition.titleExhibit }} ({{ exhibition.dateWarBeginFr }} - {{ exhibition.dateWarEndFr }})</h2>        
                <p>{{ exhibition.dateExhibitFr }}</p>
                <p>{{ exhibition.descriptionExhibit }}</p>
            </a>
        </div>
    {% endfor %}
    
    
    <div>
        Explorez les conflits d'hier et d'aujourd'hui grâce à nos expositions éphémères. Plongez au cœur des guerres qui ont marqué notre histoire et façonné le monde. Chaque exposition offre une nouvelle perspective pour comprendre les enjeux d'ici et d'ailleurs.
    </div>

    <section>
    <h2>Qui sommes nous ?</h2>

        <div>
            <p>
                Nous sommes une association passionnée par l’histoire, l’art et la transmission de la mémoire collective. À travers notre espace d’exposition, nous cherchons à créer un lieu où les visiteurs peuvent explorer, comprendre et ressentir les récits marquants de la guerre et de la paix.
            </p>

            <p>
                Notre mission est de mettre en lumière des œuvres, des artistes et des témoignages qui célèbrent la mémoire tout en invitant à la réflexion. Que ce soit à travers des expositions, des événements culturels ou des collaborations artistiques, nous souhaitons offrir une expérience enrichissante qui touche chaque visiteur.
            </p>

            <p>
                En soutenant les artistes, en partageant des histoires et en encourageant le dialogue, nous espérons contribuer à préserver et à transmettre un héritage universel, tourné vers l’humanité et la compréhension. Votre visite fait partie intégrante de cette démarche, et nous sommes honorés de vous accueillir dans ce lieu de partage et d’émotion.
            </p>
        </div>
    </section>
    
    <section>
        <h2>Agenda Culturel</h2>

        {% for agendas in agenda %}
            <p>{{ agendas.dateExhibitFr }} 
                - {{ agendas.subTitleExhibit }} 
                ( {{ agendas.hourBeginFr }} - {{ agendas.hourEndFr }} ) </p>
            <p>{{ agendas.titleExhibit }}</p>
            <p>{{ agendas.hookExhibit }}</p>

            <a href="#"> Fiche détaillée</a>
        {% endfor %}
    </section>
    
    <section>
        <h2>Espace Boutique et restauration</h2>

        <div class="coffee">
            <p>
                Faites une pause conviviale et gourmande dans notre espace restauration. Que ce soit pour un café rapide, un repas léger ou une collation sur le pouce, nous proposons une carte variée mettant à l’honneur des saveurs locales et de saison. 
            </p>

            <img class="welcomeShop" src="/images/accueil/coffeeShop.webp" alt="Photo de l'intérieur du café.">

            <p>
                Notre espace chaleureux est le lieu idéal pour échanger autour d’un bon plat ou simplement recharger vos batteries avant de continuer votre visite. Profitez d’un moment de détente dans une ambiance inspirée et accueillante.
            </p>
        </div>

        <div class="coffee">
            <p>
                Découvrez notre boutique dédiée aux passionnés d’histoire et d’art. Vous y trouverez une sélection unique de livres retraçant les grands moments de la guerre et de la mémoire collective, des posters exclusifs illustrant des œuvres d’artistes engagés, ainsi que des souvenirs originaux pour prolonger votre expérience.
            </p>

            <img class="welcomeShop" src="/images/accueil/frontShop.webp" alt="Photo de la devanture du magasin.">

            <p>
                Que vous cherchiez un souvenir, un cadeau, ou simplement un objet qui vous touche, notre espace boutique est conçu pour vous offrir des produits de qualité qui reflètent l’âme de notre exposition.
            </p>
        </div>
    </section>

    <section>
        <h2>Planifiez votre visite</h2>

        <p>Rue de la paix - 75000 PARIS</p>

        <div>
            <i class="fa-brands fa-accessible-icon"></i>
            <p>
                Nos locaux sont complétement accessible pour les personnes en situation de handicap.
            </p>
        </div>

        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.403675585383!2d2.3289647418414194!3d48.869580671453065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e3101dcc2bb%3A0x2bc3eaa1f0003cb9!2sRue%20de%20la%20Paix%2C%2075002%20Paris!5e0!3m2!1sfr!2sfr!4v1738936240340!5m2!1sfr!2sfr" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        <h4>Par l'autoroute</h4>

        <div>
            <p>- Via A1 : Bd Malesherbes Direction Rue Daunou</p>
            <p>- Via A81 : Voie G Pompidou et Quai des Tuileries en direction de Rue de la Paix</p>
            <p>- Via A7 : Quai de Berçy en direction de l'Avenue de l'Opéra</p>
            <p>- Via A4 :  Quai de Berçy en direction de l'Avenue de l'Opéra</p>
        </div>

        <h4>Par les transports en commun</h4>

        <div>
            <p>- Gare du Nord : 
                <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                <img class="iconMetro" src="/images/accueil/logos_metro/metro7.png" alt="Icone du metro 7">
            </p>
            <p>- Gare de l'est : 
                <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                <img class="iconMetro" src="/images/accueil/logos_metro/metro7.png" alt="Icone du metro 7">
            </p>
            <p>- Gare Montparnasse : 
                <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                <img class="iconMetro" src="/images/accueil/logos_metro/metro12.png" alt="Icone du metro 12">
                ou
                <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                <img class="iconMetro" src="/images/accueil/logos_metro/metro13.png" alt="Icone du metro 13">
            </p>
            <p>- Gare Saint Lazare : 
                <img class="iconMetro" src="/images/accueil/logos_metro/metro.png" alt="Icone du metro">
                <img class="iconMetro" src="/images/accueil/logos_metro/metro3.png" alt="Icone du metro 3">
            </p>    
        </div>
    </section>

</section> 

{% endblock %}

