{% extends 'base.html.twig' %}

{% block title %}Gestion des tickets{% endblock %}

{% block description %}
Consultez en un coup d'œil l'état de vos stocks : niveaux maximum, actuel et d'alerte. 
Identifiez rapidement les produits en rupture ou en seuil critique. 
Accédez également aux statistiques de vente pour une gestion optimale de votre inventaire.
{% endblock %}


{% block body %}
<!-- TicketBOController -->
    <h1>Gestion des tickets</h1>

    <section>
        <p class="noticeBO">
            Cette page offre une vue d'ensemble de la gestion des stocks de tickets pour chaque exposition.
            Consultez le stock total, le seuil d'alerte, le nombre de tickets déjà réservés et le stock restant disponible.
            Utilisez le filtre pour afficher rapidement les stocks épuisés ou presque épuisés.
            Un code couleur et des icônes signalent les expositions en rupture (<i class="iconDanger fa-solid fa-xmark"></i>) ou en seuil d'alerte (<i class="iconWarning fa-solid fa-triangle-exclamation"></i>).            
            Cliquez sur l'icône pour modifier le stock de ticket d'une exposition.
        </p>

        <div class="filterStock">
            <label for="stockFilter">Filtrer par :</label>

            <select id="stockFilter" onchange="window.location.href = this.value;">
                <option value="{{ path('stockManagement') }}" {% if currentFilter is null ? 'active' : '' %}selected{% endif %}>
                    Tout afficher
                </option>
                <option value="{{ path('stockManagement', {'filter': 'epuise'}) }}" {% if currentFilter == 'epuise' %}selected{% endif %}>
                    Stock épuisé
                </option>
                <option value="{{ path('stockManagement', {'filter': 'presque-epuise'}) }}" {% if currentFilter == 'presque-epuise' %}selected{% endif %}>
                    Stock presque épuisé
                </option>
            </select>
        </div>

        {% if exhibitionStocks is empty %}
            <p>Aucun stock concerné.</p>
        {% else %}
            {% for stockInfo in exhibitionStocks %}
                <h2>
                    {% if stockInfo.remaining <= 0 %}
                        <i class="iconDanger fa-solid fa-xmark" aria-label="Stock épuisé pour l'exposition {{ stockInfo.exhibition.titleExhibit }}"></i>
                    {% elseif stockInfo.remaining <= stockInfo.exhibition.stockAlert %}
                        <i class="iconWarning fa-solid fa-triangle-exclamation" aria-label="Stock presque épuisé pour l'exposition {{ stockInfo.exhibition.titleExhibit }}"></i>
                    {% endif %}
                    {{ stockInfo.exhibition }} ({{ stockInfo.exhibition.dateExhibitFr }})
                </h2>

                <p>Stock : {{ stockInfo.exhibition.stockMax }}</p>
                <p>Stock d'alerte : {{ stockInfo.exhibition.stockAlert }}
                    <a href="{{ path('exhibitEditBO', {'slug': stockInfo.exhibition.slug}) }}"
                       aria-label="{{ 'Modifier l\'exposition ' ~ stockInfo.exhibition.titleExhibit }}"
                       title="{{ 'Modifier les informations de l\'exposition ' ~ stockInfo.exhibition.titleExhibit }}">
                        <i class="iconsEdit fa-solid fa-pencil"></i>
                    </a>
                </p>

                <p>Réservés : {{ stockInfo.reserved }}</p>
                <p>Reste : {{ stockInfo.remaining }}</p>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}

