<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <title>Commande #{{ order.id }}</title>
</head>


<body>

    <h1>Commande #{{ order.id }}</h1>
    <p>Date de création : {{ order.orderDateCreationFr }}</p>
    

    <h2>Détails de la commande :</h2>
        <p class="thUsers">Exposition</p>
        <p class="thUsers">Ticket</p>
        <p class="thUsers">Quantité</p>
        <p class="thUsers displayNone">Prix Unitaire</p>
           


        {% for orderDetail in order.orderDetails %}
            
                <p>{{ orderDetail.exhibition }}</p>
                <p>{{ orderDetail.ticket }}</p>
                <p>{{ orderDetail.quantity }}</p>
                <p></p>
                <p></p>
            
        {% endfor %}
       

     <p>Total de la commande : 
        {{ total }} €
    </p>
</body>
</html>