{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

<h1>Panier</h1>

<section class="summaryCart">

    {% if cart is empty %} 
    <p>Votre panier est vide.</p>
    
    {% else %}    
        <p class="thUsers">Exposition</p>
        <p class="thUsers">Ticket</p>
        <p class="thUsers">Quantité</p>
        <p class="thUsers displayNone">Prix Unitaire</p>
        <p class="thUsers">Montant</p>
        <p></p>
        
        {% for product in cart %} 
        {# {{ dump(cart) }} #}
             <p>{{ product.exhibition }}</p> 
            <p>{{ product.ticket }}</p>            

            <p>
                <a href="{{ path('removeTicketFromCart', {'exhibitionId': product.exhibition, 'ticketId' : product.ticket, 'origin': 'cart'}) }}">
                    <i class="fa-solid fa-minus"></i>
                </a> 

                {{ product.qty }}      

                <a href="{{ path('addTicketToCart', {'exhibitionId': product.exhibition, 'ticketId' : product.ticket, 'origin': 'cart'}) }}">
                    <i class="fa-solid fa-plus"></i>
                </a>                 
            </p>

            <p class="displayNone">{{ product.price }}</p> 

            <p>{{ product.totalLine }} €</p> 

           
            <p>
                <a href="{{ path('removeProduct', {'id': product.ticket.id}) }}">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </p>   
        {% endfor %}   

        <p>Total panier : {{ total }} €</p>

        <p>
            <a href="{{ path('deleteCartConfirm') }}" >Vider le panier</a>
        </p>    
    {% endif %}
</section>
{% endblock %}
