{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block description %}
Gérez votre panier d'achats. Vous pouvez ajouter, retirer des tickets ou vider votre panier. Si vous êtes connecté, vous pouvez également passer commande. 
Assurez-vous que vos informations personnelles sont complètes pour finaliser votre commande.
{% endblock %}

{% block body %}

<h1>Panier</h1>

<section>
    {% if cart is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        {% if not app.user %}
            <p>Merci de vous enregistrer ou de vous connecter pour commander.</p>
        {% endif %}

        <div class="summaryCart marginTop">
            <div class="blockTicketCart">
                {% for exhibitionId, exhibitionData in groupedCart %}
                    <div class="exhibition-group">
                        <h2>{{ exhibitionData.exhibition.titleExhibit }}</h2>
                        
                        {% for ticketId, ticketData in exhibitionData.tickets %}
                            <div class="ticketCart">
                                <div class="lineTicketCart">
                                    <p>Ticket {{ ticketData.ticket }} dématérialisé</p>

                                    <div class="blockQtyPrice">
                                        <p>
                                            <a href="{{ path('removeTicketFromCart', {
                                                'exhibitionId': exhibitionId, 
                                                'ticketId': ticketId, 
                                                'origin': 'cart'
                                            }) }}">
                                                <i class="fa-solid fa-minus"></i>
                                            </a>

                                            {{ ticketData.quantity }}

                                            <a href="{{ path('addTicketToCart', {
                                                'exhibitionId': exhibitionId, 
                                                'ticketId': ticketId, 
                                                'origin': 'cart'
                                            }) }}">
                                                <i class="fa-solid fa-plus"></i>
                                            </a>
                                        </p>

                                        <div>
                                            {% if (ticketData.price * ticketData.quantity) == 0 %}
                                                <p>Gratuit</p>
                                            {% else %}
                                                <p>{{ ticketData.price * ticketData.quantity }} €</p>
                                            {% endif %}
                                        </div>

                                        <p>
                                            <a href="{{ path('removeProduct', {'id': exhibitionId ~ '_' ~ ticketData.ticket.id}) }}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="amountCart">Montant total : <span>{{ total }} €</span></div>

            {% if is_granted('ROLE_ADMIN') %}
                <p>En tant qu'administrateur, vous ne pouvez pas passer de commande.</p>
            {% else %}
                {% if app.user %}
                    {% if app.user.userName is not empty and app.user.userFirstname is not empty %}
                        <form action="{{ path('orderValidated', {slug: app.user.slug}) }}" method="post">
                            <button type="submit" name="submitOrderValidation">Commander</button>
                        </form>
                    {% else %}
                        <p class="blockIdentityOrder">
                            Veuillez renseigner votre nom et prénom pour commander. 
                            <a href="{{ path('profile', {slug: app.user.slug}) }}"><strong>Modifier mon profil</strong></a>
                        </p>
                    {% endif %}
                {% else %}
                    <p>Veuillez vous connecter pour passer une commande.</p>
                {% endif %}
            {% endif %}
        </div>

        <p class="marginTop">
            <a href="{{ path('deleteCartConfirm') }}"><u>Vider le panier</u></a>
        </p>
    {% endif %}
</section>
{% endblock %}