{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<h1>Panier</h1>

<section>
    {% if cart is empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        {% if not app.user %}
            <p>Merci de vous enregistrer ou de vous connecter pour commander.</p>
        {% endif %}

        <div class="summaryCart">
            <div class="blockTicketCart">
                {% for product in cart %}
                    <div class="ticketCart">
                        <p>{{ product.exhibition }}</p>

                        <div class="lineTicketCart">
                            <p>{{ product.ticket }}</p>

                            <div class="blockQtyPrice">
                                <p>
                                    <a href="{{ path('removeTicketFromCart', {'exhibitionId': product.exhibitionId, 'ticketId' : product.ticketId, 'origin': 'cart'}) }}">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>

                                    {{ product.qty }}

                                    <a href="{{ path('addTicketToCart', {'exhibitionId': product.exhibitionId, 'ticketId' : product.ticketId, 'origin': 'cart'}) }}">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </p>

                                <div>
                                    {% if product.totalLine == 0 %}
                                        <p>Gratuit</p>
                                    {% else %}
                                        <p>{{ product.totalLine }} €</p>
                                    {% endif %}
                                </div>

                                <p>
                                    <a href="{{ path('removeProduct', {'id': product.ticket.id}) }}">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="amountCart">Montant total : <span>{{ total }} €</span></div>

            {% if is_granted('ROLE_ADMIN') %}
                <p>En tant qu'administrateur, vous ne pouvez pas passer de commande.</p>
            {% else %}
                {% if app.user and app.user.userName is not empty and app.user.userFirstname is not empty %}
                    <form action="{{ path('orderValidated', {id: app.user.id}) }}" method="post">
                        <button type="submit" name="submitOrderValidation">Commander</button>
                    </form>
                {% else %}
                    <p class="blockIdentityOrder">Veuillez renseigner votre nom et prénom pour commander. <a href="{{ path('profile', {'id': app.user.id} ) }}"><strong>Modifier mon profil</strong></a></p>
                {% endif %}
            {% endif %}
        </div>

        <p class="marginTop" >
            <a href="{{ path('deleteCartConfirm') }}" ><u>Vider le panier</u></a>
        </p>
    {% endif %}
</section>
{% endblock %}