{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

<h1>Panier</h1>

<section class="summaryCart">

    {% if cart is empty %} 
    <p>Votre panier est vide.</p>
    
    {% else %}    
        <p class="thUsers">Exposition</p>
        <p class="thUsers">Ticket</p>
        <p class="thUsers">Quantité</p>
        <p class="thUsers">Prix Unitaire</p>
        <p class="thUsers">Total</p>
        <p></p>
        
        
        {% for product in cart %} 
            <p>{{ product.exhibition }}</p> 
            <p>{{ product.ticket }}</p>
            <a href="{{ path('addTicketToCart', {'exhibition': product.exhibitionId, 'ticket' : product.ticket.id, 'origin': 'cart'}) }}">
                <i class="fa-solid fa-plus"></i>
            </a>

            <p>{{ product.qty }}</p>
            
            <a href="{{ path('removeTicketFromCart', {'exhibition': product.exhibitionId, 'ticket' : product.ticket.id, 'origin': 'cart'}) }}">
                <i class="fa-solid fa-minus"></i>
            </a>

            <p>{{ product.price }}</p> 
            <p>total</p>{# <p>{{ product.price * product.qty }}€</p> #}    

            {# {{ dump(product) }} #}
            {# <p><a href="{{ path('removeProduct', {'id': product.ticketId}) }}"> <i class="fa-solid fa-trash-can"></i></a> #}
            </p>     
        {% endfor %}
        
       

    {# <p>Total : {{ total }}€</p> #}

    <a href="{{ path('deleteCartConfirm') }}" >Vider le panier</a>
    {% endif %}
</section>
{% endblock %}
