{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block description %}
Consultez l'historique de vos commandes passées, incluant les expositions et les tickets réservés. Vous pouvez également exporter le détail de vos commandes en fichier.
{% endblock %}

{% block body %}

    <h1>Historique des commandes</h1>

    <section>
       
        
        {% if groupedOrders is empty %}
        <p>Aucune commande trouvée.</p>
        {% else %}
            <div class="noticeBO">
                <p>L'icône <i class="fa-solid fa-envelope-open-text" title="{{ 'Envoi par mail de la facture au format PDF' }}"></i>
                    permet de recevoir votre facture par mail.
                </p>            
            </div>

            <div class="blockOrderContainer">
                {% for groupedOrder in groupedOrders %}
                    <div class="blockOrder">
                        <p class="orderTitle">
                            <strong>Commande N°{{ groupedOrder.order.id }} du {{ groupedOrder.order.orderDateCreationFr }} </strong>
                            <a href="{{ path('userInvoiceExport', {'orderId': groupedOrder.order.id}) }}"
                            aria-label="{{ 'Envoi par mail de la facture de la commande N°' ~ groupedOrder.order.id }}"
                            title="{{ 'Envoi par mail de la facture au format PDF pour la commande N°' ~ groupedOrder.order.id }}">
                                <i class="fa-solid fa-envelope-open-text"></i>
                            </a>
                        </p>

                        {% for exhibitionId, exhibitionData in groupedOrder.details %}
                            <p><u>Exposition</u> : {{ exhibitionData.exhibition }}</p>

                            {% for ticketId, ticketData in exhibitionData.tickets %}
                                <p>Ticket : {{ ticketData.ticket }} x {{ ticketData.quantity }}</p>
                            {% endfor %}

                            <p class="totalOrder">Total de la commande : {{ groupedOrder.total }} €</p>
                            
                        {% endfor %}     
                            {% if not loop.last %}
                                <hr class="lineMobileOrder">
                            {% endif %} 
                    </div>
                        {% if not loop.last %}
                            <hr class="lineDesktopOrder">
                        {% endif %} 
                    
                {% endfor %}
            </div>
        {% endif %}

    </section>
{% endblock %}
