{% extends 'base.html.twig' %}

{% block title %}Historique des factures{% endblock %}

{% block description %}
    Consultez l'historique des factures d'un utilisateur...
{% endblock %}

{% block body %}
<!-- InvoiceBOController -->
    <h1>Historique des factures de : <span class="longTitle">{{ firstInvoice.customerName }} {{ firstInvoice.customerFirstname }}</span></h1>

    <section>
        <div class="noticeBO">
            <p>L'icône <i class="fa-solid fa-envelope-open-text" title="{{ 'Envoi par mail de la facture au format PDF' }}"></i>
                 permet d'envoyer la facture sur le mail administrateur. Il faudra alors le transfèrer sur le mail de l'utilisateur.
            </p>            
        </div>

        {% if invoices is empty %}
            <p>Aucune facture trouvée pour ce client.</p>
        {% else %}
            <div class="invoiceList">
                {% for invoice in invoices %}
                    <div class="invoiceItem">
                        <p>
                            N°{{ invoice.numberInvoice }}
                            <a href="{{ path('userAccountingInvoiceExportBO', {'idInvoice': invoice.id}) }}"
                            aria-label="{{ 'Télécharger la facture N°' ~ invoice.numberInvoice }}"
                            title="{{ 'Envoi par mail de la facture N°' ~ invoice.numberInvoice ~ ' au format PDF' }}">
                                <i class="fa-solid fa-envelope-open-text"></i>
                            </a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

{% endblock %}
