{% extends 'base.html.twig' %}

{% block title %}Liste des Factures{% endblock %}

{% block description %}
    Gérez l'ensemble des factures de clients. Une section centralisée pour un suivi optimal.
{% endblock %}

{% block body %}
<!-- InvoiceBOController -->
    <h1>Liste des Factures</h1>

    <section class="backOffice">
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <div class="filterUser">
                <label for="letterFilter">Filtrer :</label>
                <select id="letterFilter" onchange="window.location.href = this.value;">
                    <option value="{{ path('listInvoices') }}" {% if selectedLetter is null %}selected{% endif %}>
                        Tous
                    </option>
                    {% for letter in availableLetters %}
                        <option value="{{ path('listInvoices', {'letter': letter }) }}" {% if selectedLetter == letter %}selected{% endif %}>
                            {{ letter }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="invoiceList">
                {% if uniqueCustomers is not empty %}
                    {% for customer in uniqueCustomers %}
                        <div class="invoiceItem">
                            <p> {{ customer.name }} {{ customer.firstname }}</p>
                            <p> {{ customer.email }} </p>
                            <div>
                                <a href="{{ path('invoicesUserBO', {'slug': customer.slug }) }}"><i class="fa-regular fa-folder-open"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun client n'a été trouvé.</p>
                {% endif %}
            </div>
        {% else %}
            <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
        {% endif %}
    </section>
{% endblock %}
