{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section class="sectionProfile sectionCenter">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    <div class="infosProfile">
        {% if app.user %}
            {% if not is_granted('ROLE_ROOT') and not is_granted('ROLE_ADMIN') %}
                <div>
                    <p>
                        Nom - Prénom : {{ app.user.userName }} {{ app.user.userFirstname }}
                        <a href="{{ path('userEditIdentity', {id: app.user.id}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
                    </p>
                </div>
            {% endif %}
        {% endif %}

        <p>
            Pseudo : {{ app.user.userNickname }}
            <a href="{{ path('userEditNickname', {id: app.user.id}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
        </p>

        <p>
            Email : {{ app.user.userEmail }}
            <a href="{{ path('userEditEmail', {id: app.user.id}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
        </p>

        <p>
            Mot de passe :
            <a href="{{ path('userEditPassword', {id: app.user.id}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
        </p>
    </div>

    <p><a href="{{ path('userDeleteProfile', {id: app.user.id}) }}">Supprimer mon profil</a></p>

</section>

{% endblock %}
