{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div>
    <div>
        <p>
            Nom - Prénom : {{ app.user.userName }} {{ app.user.userFirstname }}       
        </p>       
        <a href="{{ path('userEditIdentity', {id: app.user.id}) }}"><i class="fa-solid fa-pencil"></i></a> 
    </div>
    <p>
        Pseudo : {{ app.user.userNickname }}
        {# <a href="{{ path('userEditNickname') }}"><i class="fa-solid fa-pencil"></i></a> #}
    </p>
    <p>
        Email : {{ app.user.userEmail }}
        <a href="{{ path('userEditEmail', {id: app.user.id}) }}"><i class="fa-solid fa-pencil"></i></a>
    </p>
    <p>Mot de passe</p>
    <p><a href="#">Supprimer mon profil</a></p>
</div>

{% endblock %}
