{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block description %}
Gérez votre compte Regards de Guerre : mettez à jour vos informations personnelles, consultez votre historique et assurez la sécurité de votre profil.
{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section class="sectionProfile sectionCenter">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    <div class="infosProfile">
        {% if app.user %}
            {% if not is_granted('ROLE_ROOT') and not is_granted('ROLE_ADMIN') %}
                <div>
                    <p>
                        Nom - Prénom : {{ app.user.userName }} {{ app.user.userFirstname }}
                        <a href="{{ path('userEditIdentity', {slug: app.user.slug}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
                    </p>
                </div>
            {% endif %}
        {% endif %}

            <p>
                Pseudo : {{ app.user.userNickname }}
                <a href="{{ path('userEditNickname', {slug: app.user.slug}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
            </p>

            <p>
                Email : {{ app.user.userEmail }}
                <a href="{{ path('userEditEmail', {slug: app.user.slug}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
            </p>

            <p>
                Mot de passe :
                <a href="{{ path('userEditPassword', {slug: app.user.slug}) }}"><i class="iconsEdit fa-solid fa-pencil"></i></a>
            </p>
        </div>

        <p><a href="{{ path('userDeleteProfile', {slug: app.user.slug}) }}">Supprimer mon profil</a></p>
    
</section>

{% endblock %}
