{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<!-- UserController-->

<div class="containH1">    
    <h1>Modifier votre pseudo</h1>
</div>

<section class="sectionCenter">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
    
    {{ form_start(changePasswordForm) }}
        <p class="label">{{ form_label(changePasswordForm.oldPassword) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.oldPassword) }}</p>

        <p class="label">{{ form_label(changePasswordForm.password.first) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.password.first) }}</p>

        <p class="label">{{ form_label(changePasswordForm.password.second) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.password.second) }}</p>

        <button type="submit" class="btn btnSubmit">Mettre à jour</button>
    {{ form_end(changePasswordForm) }}
    
</section>

{% endblock %}
