{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block description %}
Mettez à jour votre mot de passe sur Regards de Guerre pour garder vos informations à jour et assurer une meilleure personnalisation de votre compte.
{% endblock %}

{% block body %}
<!-- UserController-->

<div class="containH1">    
    <h1>Modifier votre mot de passe</h1>
</div>

<section class="sectionCenter">

    
    {{ form_start(changePasswordForm) }}
        <p class="label">{{ form_label(changePasswordForm.oldPassword) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.oldPassword) }}</p>

        <p class="label">{{ form_label(changePasswordForm.password.first) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.password.first) }}</p>

        <p class="label">{{ form_label(changePasswordForm.password.second) }}</p>
        <p class="input">{{ form_widget(changePasswordForm.password.second) }}</p>

        <div class="button">
            <button type="submit" class="btnSubmit">Mettre à jour</button>
        </div>
    {{ form_end(changePasswordForm) }}
    
</section>

{% endblock %}
