{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Modifier votre identité</h1>
</div>

<section class="sectionCenter">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
    
    {{ form_start(form) }}
        <p class="label">{{ form_label(form.userName) }}</p>
        <p class="input">{{ form_widget(form.userName) }}</p>

        <p class="label">{{ form_label(form.userFirstname) }}</p>
        <p class="input">{{ form_widget(form.userFirstname) }}</p>

        <button type="submit" class="btn btnSubmit">Mettre à jour</button>
    {{ form_end(form) }}
    
</section>
{% endblock %}
